## Based on the film database created in the last step, I want to know the IMDB ratings of the Netflix original films.

Below are the list of tables and relevant columns in each.

### imdb_basics - Contains the following information for titles:
- tconst (string) - alphanumeric unique identifier of the title.
- titleType (string) – the type/format of the title (e.g. movie, short,
tvseries, tvepisode, video, etc).
- primaryTitle (string) – the more popular title / the title used by
the filmmakers on promotional materials at the point of release.
- originalTitle (string) - original title, in the original language.
- startYear (YYYY) – represents the release year of a title. In the
case of TV Series, it is the series start year.
- runtimeMinutes – primary runtime of the title, in minutes.
- genres (string array) – includes up to three genres associated with
the title.

### imdb_ratings – Contains the IMDb rating and votes information for titles:
- tconst (string) - alphanumeric unique identifier of the title.
- averageRating – weighted average of all the individual user ratings.
- numVotes - number of votes the title has received.

### netflix – Contains the Netflix original film list (webscraped from Wikipedia):
- title (string) - official Netflix title
- releaseDate (string) - release date in '{month} {day}, {year}' format (e.g. 'October 16, 2015') 
- genre - main genre
- runtime - runtime of the flim in '{hour} h {minute} min' format (e.g. '1 h 40 min')
- language - main langauge of the film
- filmType - type of the film (e.g. feature film, documentary, special, etc)
- runtime_min - runtime converted to minutes

Connect to the films database and check each table.

In [1]:
import pandas as pd
import os
import sqlite3 

# Connect to SQLite database 
conn = sqlite3.connect('films.db') 

# Create a cursor object 
cur = conn.cursor()

In [2]:
# Check if basics dataframe was saved correctly by loading and pulling up first 10 entries
query = """
        SELECT *
        FROM imdb_basics
        LIMIT 10;
        """
# print column names
out = cur.execute(query)
names = list(map(lambda x: x[0], cur.description))
print(names)
for row in out: 
    print(row)

['tconst', 'titleType', 'primaryTitle', 'originalTitle', 'isAdult', 'startYear', 'endYear', 'runtimeMinutes', 'genres']
('tt0000001', 'short', 'Carmencita', 'Carmencita', 0, 1894, None, 1, 'Documentary,Short')
('tt0000002', 'short', 'Le clown et ses chiens', 'Le clown et ses chiens', 0, 1892, None, 5, 'Animation,Short')
('tt0000003', 'short', 'Poor Pierrot', 'Pauvre Pierrot', 0, 1892, None, 5, 'Animation,Comedy,Romance')
('tt0000004', 'short', 'Un bon bock', 'Un bon bock', 0, 1892, None, 12, 'Animation,Short')
('tt0000005', 'short', 'Blacksmith Scene', 'Blacksmith Scene', 0, 1893, None, 1, 'Short')
('tt0000006', 'short', 'Chinese Opium Den', 'Chinese Opium Den', 0, 1894, None, 1, 'Short')
('tt0000007', 'short', 'Corbett and Courtney Before the Kinetograph', 'Corbett and Courtney Before the Kinetograph', 0, 1894, None, 1, 'Short,Sport')
('tt0000008', 'short', 'Edison Kinetoscopic Record of a Sneeze', 'Edison Kinetoscopic Record of a Sneeze', 0, 1894, None, 1, 'Documentary,Short')
('tt0000009', 'movie', 'Miss Jerry', 'Miss Jerry', 0, 1894, None, 45, 'Romance')
('tt0000010', 'short', 'Leaving the Factory', "La sortie de l'usine Lumière à Lyon", 0, 1895, None, 1, 'Documentary,Short')

In [3]:
# Check if ratings dataframe was saved correctly by loading and pulling up first 10 entries
query = """
        SELECT *
        FROM imdb_ratings
        LIMIT 10;
        """
# print column names
out = cur.execute(query)
names = list(map(lambda x: x[0], cur.description))
print(names)
for row in out: 
    print(row)

['tconst', 'averageRating', 'numVotes']
('tt0000001', 5.7, 2133)
('tt0000002', 5.5, 289)
('tt0000003', 6.4, 2169)
('tt0000004', 5.3, 184)
('tt0000005', 6.2, 2896)
('tt0000006', 5.0, 208)
('tt0000007', 5.3, 901)
('tt0000008', 5.4, 2280)
('tt0000009', 5.3, 220)
('tt0000010', 6.8, 7871)

In [4]:
# We can join these two tables on 'tconst' which is a unique key for each title.
# Using INNER JOIN as we only want entries that exist in both tables - titles that have ratings.
query = """
        SELECT b.tconst, b.primaryTitle, b.startYear, b.runtimeMinutes, r.averageRating
        FROM imdb_basics AS b
        INNER JOIN imdb_ratings AS r
        ON b.tconst = r.tconst
        LIMIT 10;
        """

# print column names
out = cur.execute(query)
names = list(map(lambda x: x[0], cur.description))
print(names)

for row in out: 
    print(row)

['tconst', 'primaryTitle', 'startYear', 'runtimeMinutes', 'averageRating']
('tt0000001', 'Carmencita', 1894, 1, 5.7)
('tt0000002', 'Le clown et ses chiens', 1892, 5, 5.5)
('tt0000003', 'Poor Pierrot', 1892, 5, 6.4)
('tt0000004', 'Un bon bock', 1892, 12, 5.3)
('tt0000005', 'Blacksmith Scene', 1893, 1, 6.2)
('tt0000006', 'Chinese Opium Den', 1894, 1, 5.0)
('tt0000007', 'Corbett and Courtney Before the Kinetograph', 1894, 1, 5.3)
('tt0000008', 'Edison Kinetoscopic Record of a Sneeze', 1894, 1, 5.4)
('tt0000009', 'Miss Jerry', 1894, 45, 5.3)
('tt0000010', 'Leaving the Factory', 1895, 1, 6.8)

In [5]:
# Read in netflix data and list the column names and the first 10 entries
query = """
        SELECT *
        FROM netflix
        LIMIT 10;
        """
# print column names
out = cur.execute(query)
names = list(map(lambda x: x[0], cur.description))
print(names)
for row in out: 
    print(row)

['title', 'releaseDate', 'genre', 'runtime', 'language', 'filmType', 'runtime_min', 'releaseYear']
('Beasts of No Nation', 'October 16, 2015', 'War drama', '2 h 17 min', 'English', 'Feature films', 137, 2015)
('The Ridiculous 6', 'December 11, 2015', 'Western comedy', '2 h', 'English', 'Feature films', 120, 2015)
("Pee-wee's Big Holiday", 'March 18, 2016', 'Adventure comedy', '1 h 30 min', 'English', 'Feature films', 90, 2016)
('Special Correspondents', 'April 29, 2016', 'Satire', '1 h 41 min', 'English', 'Feature films', 101, 2016)
('The Do-Over', 'May 27, 2016', 'Action comedy', '1 h 48 min', 'English', 'Feature films', 108, 2016)
('The Fundamentals of Caring', 'June 24, 2016', 'Comedy drama', '1 h 37 min', 'English', 'Feature films', 97, 2016)
('Brahman Naman', 'July 7, 2016', 'Sex comedy', '1 h 35 min', 'English', 'Feature films', 95, 2016)
('Rebirth', 'July 15, 2016', 'Thriller', '1 h 40 min', 'English', 'Feature films', 100, 2016)
('Tallulah', 'July 29, 2016', 'Comedy drama', '1 h 51 min', 'English', 'Feature films', 111, 2016)
('XOXO', 'August 26, 2016', 'Drama', '1 h 32 min', 'English', 'Feature films', 92, 2016)

Let's join netflix and IMDB data by matching the title and release year.

In [6]:
# Match title and year between netflix and IMDB data
# Getting entries from IMDB that is more recent than 2014 since our netflix flims are 2015-2024
query = """
        SELECT i.tconst, n.title, n.releaseDate, i.startYear, n.runtime_min, i.runtimeMinutes
        FROM netflix AS n
        LEFT JOIN (SELECT b.tconst, b.primaryTitle, b.startYear, b.runtimeMinutes, r.averageRating
                    FROM imdb_basics AS b
                    INNER JOIN imdb_ratings AS r
                    ON b.tconst = r.tconst
                    WHERE startYear > 2014) 
                    AS i
        ON LOWER(n.Title) = LOWER(i.primaryTitle) AND n.releaseYear = i.startYear
        LIMIT 10;
        """
out = cur.execute(query)
names = list(map(lambda x: x[0], cur.description))
print(names)
for row in out: 
    print(row)

['tconst', 'title', 'releaseDate', 'startYear', 'runtime_min', 'runtimeMinutes']
('tt1365050', 'Beasts of No Nation', 'October 16, 2015', 2015, 137, 137)
('tt2479478', 'The Ridiculous 6', 'December 11, 2015', 2015, 120, 119)
('tt0837156', "Pee-wee's Big Holiday", 'March 18, 2016', 2016, 90, 90)
('tt4181052', 'Special Correspondents', 'April 29, 2016', 2016, 101, 101)
('tt4769836', 'The Do-Over', 'May 27, 2016', 2016, 108, 108)
('tt2452386', 'The Fundamentals of Caring', 'June 24, 2016', 2016, 97, 97)
('tt5240748', 'Brahman Naman', 'July 7, 2016', 2016, 95, 95)
('tt4902716', 'Rebirth', 'July 15, 2016', 2016, 100, 100)
('tt5798216', 'Rebirth', 'July 15, 2016', 2016, 100, 23)
('tt1639084', 'Tallulah', 'July 29, 2016', 2016, 111, 111)

In the above result, there are two 'Rebirth' entries with the same release date, as two different IMDB entries joined on the same netflix entry. Looking at the runtimes for both, only one of them is a right match. One way we can solve this is to limit the join so that the runtime has to be an exact match. However, if we look at 'The Ridiculous 6' entry, the runtime in minutes is 120 in netflix table and 119 in IMDB data. Thus, joining on the exact match for runtime might lead to poorer match overall. Another approach can be filtering using WHERE to display only the entries that have *close enough* runtimes between the two tables. In the below cell, let's filter so that we only see entries whose IMDB runtime comes within +-3 min of netflix runtime.

In [7]:
# Join on title and year, filter on IMDB runtime = netflix runtime +-3
# Check the entries 'The Ridiculous 6' and 'Rebirth'
query = """
        SELECT i.tconst, n.title, n.releaseDate, i.startYear, n.runtime_min, i.runtimeMinutes
        FROM netflix AS n
        LEFT JOIN (SELECT b.tconst, b.primaryTitle, b.startYear, b.runtimeMinutes, r.averageRating
                    FROM imdb_basics AS b
                    INNER JOIN imdb_ratings AS r
                    ON b.tconst = r.tconst
                    WHERE startYear > 2014) 
                    AS i
        ON LOWER(n.Title) = LOWER(i.primaryTitle) AND n.releaseYear = i.startYear
        WHERE ( i.runtimeMinutes < n.runtime_min +3 AND i.runtimeMinutes > n.runtime_min -3 )
        AND (n.title = 'The Ridiculous 6' OR n.title = 'Rebirth');
        """
out = cur.execute(query)
names = list(map(lambda x: x[0], cur.description))
print(names)
for row in out: 
    print(row)

['tconst', 'title', 'releaseDate', 'startYear', 'runtime_min', 'runtimeMinutes']
('tt2479478', 'The Ridiculous 6', 'December 11, 2015', 2015, 120, 119)
('tt4902716', 'Rebirth', 'July 15, 2016', 2016, 100, 100)

We're able to grab only single entries for these two, so great! Now, let's check netflix films that didn't successfully match to the IMDB entry. Let's nest the above query to left join to the original netflix table to list the films that are not included in the above query.

In [8]:
# List non-matches
query = """
        SELECT *
        FROM netflix AS og_n
        LEFT JOIN (SELECT n.title
                    FROM netflix AS n
                    LEFT JOIN (SELECT b.tconst, b.primaryTitle, b.startYear, b.runtimeMinutes, r.averageRating
                                FROM imdb_basics AS b
                                INNER JOIN imdb_ratings AS r
                                ON b.tconst = r.tconst
                                WHERE startYear > 2014) 
                                AS i
                    ON LOWER(n.Title) = LOWER(i.primaryTitle) AND n.releaseYear = i.startYear
                    WHERE (runtimeMinutes < n.runtime_min +3 AND i.runtimeMinutes > n.runtime_min -3)
                    ) 
                    AS matched
        ON og_n.Title = matched.Title
        WHERE matched.Title IS NULL;
        """

out = cur.execute(query)
names = list(map(lambda x: x[0], cur.description))
print(names)
for row in out: 
    print(row)

['title', 'releaseDate', 'genre', 'runtime', 'language', 'filmType', 'runtime_min', 'releaseYear', 'title']
('Mascots', 'October 13, 2016', 'Mockumentary', '1 h 35 min', 'English', 'Feature films', 95, 2016, None)
('7 años', 'October 28, 2016', 'Drama', '1 h 17 min', 'Spanish', 'Feature films', 77, 2016, None)
('Mercy', 'November 22, 2016', 'Thriller', '1 h 27 min', 'English', 'Feature films', 87, 2016, None)
('Imperial Dreams', 'February 3, 2017', 'Drama', '1 h 26 min', 'English', 'Feature films', 86, 2017, None)
("Girlfriend's Day", 'February 14, 2017', 'Comedy drama', '1 h 10 min', 'English', 'Feature films', 70, 2017, None)
("I Don't Feel at Home in This World Anymore", 'February 24, 2017', 'Thriller drama', '1 h 36 min', 'English', 'Feature films', 96, 2017, None)
('Burning Sands', 'March 10, 2017', 'Drama', '1 h 42 min', 'English', 'Feature films', 102, 2017, None)
('Tramps', 'April 21, 2017', 'Romantic comedy', '1 h 23 min', 'English', 'Feature films', 83, 2017, None)
('The Meyerowitz Stories (New and Selected)', 'October 13, 2017', 'Comedy drama', '1 h 52 min', 'English', 'Feature films', 112, 2017, None)
('My Own Man', 'March 6, 2015', None, '1 h 21 min', 'English', 'Documentaries', 81, 2015, None)
('The Other One: The Long Strange Trip of Bob Weir', 'May 22, 2015', None, '1 h 23 min', 'English', 'Documentaries', 83, 2015, None)
('What Happened, Miss Simone?', 'June 26, 2015', None, '1 h 24 min', 'English', 'Documentaries', 84, 2015, None)
('Tig', 'July 17, 2015', None, '1 h 20 min', 'English', 'Documentaries', 80, 2015, None)
("Winter on Fire: Ukraine's Fight for Freedom", 'October 9, 2015', None, '1 h 31 min', 'Ukrainian', 'Documentaries', 91, 2015, None)
('My Beautiful Broken Brain', 'March 18, 2016', None, '1 h 31 min', 'English', 'Documentaries', 91, 2016, None)
('Audrie & Daisy', 'September 23, 2016', None, '1 h 38 min', 'English', 'Documentaries', 98, 2016, None)
('Sky Ladder: The Art of Cai Guo-Qiang', 'October 14, 2016', None, '1 h 19 min', 'Mandarin', 'Documentaries', 79, 2016, None)
('Into the Inferno', 'October 28, 2016', None, '1 h 47 min', 'English', 'Documentaries', 107, 2016, None)
('Get Me Roger Stone', 'May 12, 2017', None, '1 h 41 min', 'English', 'Documentaries', 101, 2017, None)
('Chasing Coral', 'July 14, 2017', None, '1 h 29 min', 'English', 'Documentaries', 89, 2017, None)
('Joan Didion: The Center Will Not Hold', 'October 27, 2017', None, '1 h 38 min', 'English', 'Documentaries', 98, 2017, None)
('Jim & Andy: The Great Beyond – Featuring a Very Special, Contractually Obligated Mention of Tony Clifton', 'November 17, 2017', None, '1 h 34 min', 'English', 'Documentaries', 94, 2017, None)
("Barbra: The Music, The Mem'ries, The Magic", 'November 22, 2017', 'Concert film', '1 h 48 min', 'English', 'Specials', 108, 2017, None)
('The Polka King', 'January 12, 2018', 'Biographical comedy', '1 h 34 min', 'English', 'Feature films', 94, 2018, None)
('Roxanne Roxanne', 'March 23, 2018', 'Musical drama', '1 h 40 min', 'English', 'Feature films', 100, 2018, None)
('Sometimes', 'May 1, 2018', 'Drama', '1 h 41 min', 'Tamil', 'Feature films', 101, 2018, None)
('Cargo', 'May 18, 2018', 'Drama / Horror', '1 h 44 min', 'English', 'Feature films', 104, 2018, None)
('Brij Mohan Amar Rahe', 'August 3, 2018', 'Action comedy', '1 h 40 min', 'Hindi', 'Feature films', 100, 2018, None)
('Like Father', 'August 3, 2018', 'Comedy drama', '1 h 43 min', 'English', 'Feature films', 103, 2018, None)
('The After Party', 'August 24, 2018', 'Comedy', '1 h 29 min', 'English', 'Feature films', 89, 2018, None)
('On My Skin', 'September 12, 2018', 'Crime drama', '1 h 40 min', 'Italian', 'Feature films', 100, 2018, None)
('5 Star Christmas', 'December 7, 2018', 'Christmas comedy', '1 h 35 min', 'Italian', 'Feature films', 95, 2018, None)
('Ladies First', 'March 8, 2018', None, '39 min', 'Hindi', 'Documentaries', 39, 2018, None)
('Ram Dass, Going Home', 'April 6, 2018', None, '31 min', 'English', 'Documentaries', 31, 2018, None)
('The Rachel Divide', 'April 27, 2018', None, '1 h 44 min', 'English', 'Documentaries', 104, 2018, None)
('City of Joy', 'September 7, 2018', None, '1 h 16 min', 'English', 'Documentaries', 76, 2018, None)
('Lessons from a School Shooting: Notes from Dunblane', 'September 28, 2018', None, '23 min', 'English', 'Documentaries', 23, 2018, None)
('ReMastered: Tricky Dick & the Man in Black', 'November 2, 2018', None, '58 min', 'English', 'Documentaries', 58, 2018, None)
('Struggle: The Life and Lost Art of Szukalski', 'December 21, 2018', None, '1 h 45 min', 'English', 'Documentaries', 105, 2018, None)
("Angela's Christmas", 'November 30, 2018', 'Animation', '30 min', 'English', 'Specials', 30, 2018, None)
('Porta dos Fundos: The Last Hangover', 'December 21, 2018', 'Comedy', '44 min', 'Portuguese', 'Specials', 44, 2018, None)
('Lionheart', 'January 4, 2019', 'Drama', '1 h 34 min', 'English', 'Feature films', 94, 2019, None)
('Soni', 'January 18, 2019', 'Crime drama', '1 h 37 min', 'Hindi', 'Feature films', 97, 2019, None)
('Unicorn Store', 'April 5, 2019', 'Comedy drama', '1 h 31 min', 'English', 'Feature films', 91, 2019, None)
('Music Teacher', 'April 19, 2019', 'Drama', '1 h 41 min', 'Hindi', 'Feature films', 101, 2019, None)
('See You Yesterday', 'May 17, 2019', 'Science fiction', '1 h 27 min', 'English', 'Feature films', 87, 2019, None)
('The Perfection', 'May 24, 2019', 'Horror thriller', '1 h 30 min', 'English', 'Feature films', 90, 2019, None)
('Jaoon Kahan Bata Ae Dil', 'August 9, 2019', 'Romantic drama', '1 h 46 min', 'Hindi', 'Feature films', 106, 2019, None)
('El Camino: A Breaking Bad Movie', 'October 11, 2019', 'Crime drama', '2 h 2 min', 'English', 'Feature films', 122, 2019, None)
('Drive', 'November 1, 2019', 'Action', '1 h 59 min', 'Hindi', 'Feature films', 119, 2019, None)
('Dead Kids', 'December 1, 2019', 'Thriller', '1 h 34 min', 'Filipino', 'Feature films', 94, 2019, None)
('Como caído del cielo', 'December 24, 2019', 'Comedy', '1 h 57 min', 'Spanish', 'Feature films', 117, 2019, None)
('Fyre: The Greatest Party That Never Happened', 'January 18, 2019', None, '1 h 37 min', 'English', 'Documentaries', 97, 2019, None)
('ReMastered: The Two Killings of Sam Cooke', 'February 8, 2019', None, '1 h 4 min', 'English', 'Documentaries', 64, 2019, None)
('Period. End of Sentence.', 'February 12, 2019', None, '26 min', 'Hindi', 'Documentaries', 26, 2019, None)
('The Legend of Cocaine Island', 'March 29, 2019', None, '1 h 27 min', 'English', 'Documentaries', 87, 2019, None)
("ReMastered: The Lion's Share", 'May 17, 2019', None, '1 h 24 min', 'English', 'Documentaries', 84, 2019, None)
('Rolling Thunder Revue: A Bob Dylan Story by Martin Scorsese', 'June 12, 2019', None, '2 h 22 min', 'English', 'Documentaries', 142, 2019, None)
('Parchis: The Documentary', 'July 10, 2019', None, '1 h 46 min', 'Spanish', 'Documentaries', 106, 2019, None)
('Evelyn', 'September 10, 2019', None, '1 h 36 min', 'English', 'Documentaries', 96, 2019, None)
('El Pepe: A Supreme Life', 'December 27, 2019', None, '1 h 13 min', 'Spanish', 'Documentaries', 73, 2019, None)
('The Lonely Island Presents: The Unauthorized Bash Brothers Experience', 'May 23, 2019', 'Comedy / Musical', '30 min', 'English', 'Specials', 30, 2019, None)
('Sturgill Simpson Presents: Sound & Fury', 'September 27, 2019', 'Animation / Musical', '41 min', 'English', 'Specials', 41, 2019, None)
('Porta dos Fundos: The First Temptation of Christ', 'December 3, 2019', 'Comedy', '46 min', 'Portuguese', 'Specials', 46, 2019, None)
('Little Miss Sumo', 'October 28, 2019', 'Documentary', '19 min', 'Japanese', 'Shorts', 19, 2019, None)
('The Road to El Camino: A Breaking Bad Movie', 'October 29, 2019', 'Making-of', '13 min', 'English', 'Shorts', 13, 2019, None)
('Rich in Love', 'April 30, 2020', 'Romantic comedy', '1 h 45 min', 'Portuguese', 'Feature films', 105, 2020, None)
("I'm No Longer Here", 'May 27, 2020', 'Drama', '1 h 52 min', 'Spanish', 'Feature films', 112, 2020, None)
('Choked: Paisa Bolta Hai', 'June 5, 2020', 'Drama', '1 h 54 min', 'Hindi', 'Feature films', 114, 2020, None)
('The Sleepover', 'August 21, 2020', 'Action comedy', '1 h 43 min', 'English', 'Feature films', 103, 2020, None)
("Freaks – You're One of Us", 'September 2, 2020', 'Supernatural drama', '1 h 32 min', 'German', 'Feature films', 92, 2020, None)
('Dolly Kitty Aur Woh Chamakte Sitare', 'September 18, 2020', 'Drama', '2 h', 'Hindi', 'Feature films', 120, 2020, None)
('Òlòtūré', 'October 2, 2020', 'Crime drama', '1 h 46 min', 'English', 'Feature films', 106, 2020, None)
('Over the Moon', 'October 23, 2020', 'Animated musical fantasy', '1 h 40 min', 'English', 'Feature films', 100, 2020, None)
('The Day of the Lord', 'October 30, 2020', 'Horror', '1 h 33 min', 'Spanish', 'Feature films', 93, 2020, None)
('Jingle Jangle: A Christmas Journey', 'November 13, 2020', 'Family / Christmas musical', '1 h 59 min', 'English', 'Feature films', 119, 2020, None)
('The Christmas Chronicles: Part Two', 'November 25, 2020', 'Christmas comedy', '1 h 55 min', 'English', 'Feature films', 115, 2020, None)
('Crip Camp: A Disability Revolution', 'March 25, 2020', None, '1 h 48 min', 'English', 'Documentaries', 108, 2020, None)
('Circus of Books', 'April 22, 2020', None, '1 h 26 min', 'English', 'Documentaries', 86, 2020, None)
('Have a Good Trip: Adventures in Psychedelics', 'May 11, 2020', None, '1 h 25 min', 'English', 'Documentaries', 85, 2020, None)
('Spelling the Dream', 'June 3, 2020', None, '1 h 23 min', 'English', 'Documentaries', 83, 2020, None)
('Disclosure: Trans Lives on Screen', 'June 19, 2020', None, '1 h 47 min', 'English', 'Documentaries', 107, 2020, None)
('Hope Frozen: A Quest to Live Twice', 'September 15, 2020', None, '1 h 20 min', 'Thai', 'Documentaries', 80, 2020, None)
('Guillermo Vilas: Settling the Score', 'October 27, 2020', None, '1 h 34 min', 'Spanish', 'Documentaries', 94, 2020, None)
("Emicida: AmarElo – It's All For Yesterday", 'December 8, 2020', None, '1 h 29 min', 'Portuguese', 'Documentaries', 89, 2020, None)
('Giving Voice', 'December 11, 2020', None, '1 h 30 min', 'English', 'Documentaries', 90, 2020, None)
('Ben Platt: Live from Radio City Music Hall', 'May 20, 2020', 'Concert film', '1 h 25 min', 'English', 'Specials', 85, 2020, None)
("Ma Rainey's Black Bottom: A Legacy Brought to Screen", 'December 18, 2020', 'Aftershow / Interview', '31 min', 'English', 'Specials', 31, 2020, None)
('What Did Jack Do?', 'January 20, 2020', 'Drama', '17 min', 'English', 'Shorts', 17, 2020, None)
('Sitara: Let Girls Dream', 'March 8, 2020', 'Animation', '15 min', 'English', 'Shorts', 15, 2020, None)
('A Love Song for Latasha', 'September 21, 2020', 'Documentary', '19 min', 'English', 'Shorts', 19, 2020, None)
("I'm No Longer Here: A Discussion with Guillermo del Toro and Alfonso Cuarón", 'November 3, 2020', 'Aftershow / Interview', '14 min', 'English', 'Shorts', 14, 2020, None)
('Pieces of a Woman', 'January 7, 2021', 'Drama', '2 h 6 min', 'English', 'Feature films', 126, 2021, None)
('Tribhanga – Tedhi Medhi Crazy', 'January 15, 2021', 'Drama', '1 h 35 min', 'Hindi', 'Feature films', 95, 2021, None)
('June & Kopi', 'January 28, 2021', 'Drama', '1 h 30 min', 'Indonesian', 'Feature films', 90, 2021, None)
('Finding ʻOhana', 'January 29, 2021', 'Family', '2 h 3 min', 'English', 'Feature films', 123, 2021, None)
('The Last Paradiso', 'February 5, 2021', 'Romantic drama', '1 h 47 min', 'Italian', 'Feature films', 107, 2021, None)
('Yes Day', 'March 12, 2021', 'Comedy', '1 h 29 min', 'English', 'Feature films', 89, 2021, None)
('Get the Goat', 'March 18, 2021', 'Comedy', '1 h 38 min', 'Portuguese', 'Feature films', 98, 2021, None)
('A Week Away', 'March 26, 2021', 'Christian musical', '1 h 37 min', 'English', 'Feature films', 97, 2021, None)
('Tersanjung the Movie', 'April 1, 2021', 'Drama', '1 h 54 min', 'Indonesian', 'Feature films', 114, 2021, None)
('Concrete Cowboy', 'April 2, 2021', 'Drama', '1 h 51 min', 'English', 'Feature films', 111, 2021, None)
('Night in Paradise', 'April 9, 2021', 'Drama', '2 h 12 min', 'Korean', 'Feature films', 132, 2021, None)
('The Disciple', 'April 30, 2021', 'Drama', '2 h 8 min', 'Marathi', 'Feature films', 128, 2021, None)
('Milestone', 'May 7, 2021', 'Drama', '1 h 37 min', 'Hindi', 'Feature films', 97, 2021, None)
('Monster', 'May 7, 2021', 'Drama', '1 h 39 min', 'English', 'Feature films', 99, 2021, None)
('Tragic Jungle', 'June 9, 2021', 'Drama', '1 h 36 min', 'Spanish', 'Feature films', 96, 2021, None)
('Ali & Ratu Ratu Queens', 'June 17, 2021', 'Comedy drama', '1 h 40 min', 'Indonesian', 'Feature films', 100, 2021, None)
('Fear Street Part 1: 1994', 'July 2, 2021', 'Teen horror / slasher', '1 h 47 min', 'English', 'Feature films', 107, 2021, None)
('Fear Street Part 2: 1978', 'July 9, 2021', 'Teen horror / slasher', '1 h 50 min', 'English', 'Feature films', 110, 2021, None)
('Fear Street Part 3: 1666', 'July 16, 2021', 'Supernatural horror', '1 h 54 min', 'English', 'Feature films', 114, 2021, None)
('The Loud House Movie', 'August 20, 2021', 'Animation/comedy', '1 h 27 min', 'English', 'Feature films', 87, 2021, None)
("He's All That", 'August 27, 2021', 'Teen romantic comedy', '1 h 31 min', 'English', 'Feature films', 91, 2021, None)
('Nightbooks', 'September 15, 2021', 'Fantasy/horror', '1 h 40 min', 'English', 'Feature films', 100, 2021, None)
('Diana: The Musical', 'October 1, 2021', 'Musical', '1 h 57 min', 'English', 'Feature films', 117, 2021, None)
('Nobody Sleeps in the Woods Tonight Part 2', 'October 27, 2021', 'Horror', '1 h 37 min', 'Polish', 'Feature films', 97, 2021, None)
('The Princess Switch 3: Romancing the Star', 'November 18, 2021', 'Romantic comedy', '1 h 46 min', 'English', 'Feature films', 106, 2021, None)
('Bruised', 'November 24, 2021', 'Drama', '2 h 12 min', 'English', 'Feature films', 132, 2021, None)
('Mixtape', 'December 3, 2021', 'Coming-of-age comedy-drama', '1 h 37 min', 'English', 'Feature films', 97, 2021, None)
('A California Christmas: City Lights', 'December 16, 2021', 'Romantic comedy', '1 h 30 min', 'English', 'Feature films', 90, 2021, None)
('Operation Varsity Blues: The College Admissions Scandal', 'March 17, 2021', None, '1 h 39 min', 'English', 'Documentaries', 99, 2021, None)
('Kitty Love: An Homage to Cats', 'June 5, 2021', None, '1 h', 'Dutch', 'Documentaries', 60, 2021, None)
('Private Network: Who Killed Manuel Buendia?', 'July 14, 2021', None, '1 h 40 min', 'Spanish', 'Documentaries', 100, 2021, None)
('Untold: Malice at the Palace', 'August 10, 2021', None, '1 h 9 min', 'English', 'Documentaries', 69, 2021, None)
('Untold: Deal with the Devil', 'August 17, 2021', None, '1 h 17 min', 'English', 'Documentaries', 77, 2021, None)
('Untold: Caitlyn Jenner', 'August 24, 2021', None, '1 h 9 min', 'English', 'Documentaries', 69, 2021, None)
('Untold: Crimes & Penalties', 'August 31, 2021', None, '1 h 26 min', 'English', 'Documentaries', 86, 2021, None)
('Untold: Breaking Point', 'September 7, 2021', None, '1 h 19 min', 'English', 'Documentaries', 79, 2021, None)
('Making Malinche: A Documentary by Nacho Cano', 'October 12, 2021', None, '1 h 29 min', 'Spanish', 'Documentaries', 89, 2021, None)
('Flip a Coin – One OK Rock Documentary', 'October 21, 2021', None, '1 h 45 min', 'Japanese', 'Documentaries', 105, 2021, None)
('To All the Boys: Always and Forever – The Afterparty', 'February 13, 2021', 'Aftershow', '36 min', 'English', 'Specials', 36, 2021, None)
('Emicida: AmarElo – Live in São Paulo', 'July 15, 2021', 'Concert', '1 h 39 min', 'Portuguese', 'Specials', 99, 2021, None)
('Attack of The Hollywood Clichés!', 'September 28, 2021', 'Comedy', '58 min', 'English', 'Specials', 58, 2021, None)
('Four to Dinner', 'January 5, 2022', 'Romantic comedy', '1 h 30 min', 'Italian', 'Feature films', 90, 2022, None)
('The Wasteland', 'January 6, 2022', 'Horror', '1 h 32 min', 'Spanish', 'Feature films', 92, 2022, None)
('How I Fell in Love with a Gangster', 'January 12, 2022', 'Drama', '2 h 59 min', 'Polish', 'Feature films', 179, 2022, None)
('Photocopier', 'January 13, 2022', 'Coming-of-age drama', '2 h 10 min', 'Indonesian', 'Feature films', 130, 2022, None)
('This Is Not a Comedy', 'January 14, 2022', 'Comedy drama', '1 h 45 min', 'Spanish', 'Feature films', 105, 2022, None)
('Munich – The Edge of War', 'January 21, 2022', 'Historical drama / thriller', '2 h 11 min', 'English', 'Feature films', 131, 2022, None)
('Through My Window', 'February 4, 2022', 'Drama', '1 h 53 min', 'Spanish', 'Feature films', 113, 2022, None)
('Bigbug', 'February 11, 2022', 'Science fiction comedy', '1 h 51 min', 'French', 'Feature films', 111, 2022, None)
('Tall Girl 2', 'February 11, 2022', 'Teen romantic comedy', '1 h 41 min', 'English', 'Feature films', 101, 2022, None)
('Rabbids Invasion: Mission to Mars', 'February 18, 2022', 'Animation / Comedy', '1 h 10 min', 'English', 'Feature films', 70, 2022, None)
('A Madea Homecoming', 'February 25, 2022', 'Comedy', '1 h 47 min', 'English', 'Feature films', 107, 2022, None)
('The Invisible Thread', 'March 4, 2022', 'Comedy drama', '1 h 30 min', 'Italian', 'Feature films', 90, 2022, None)
('Rescued by Ruby', 'March 17, 2022', 'Drama', '1 h 33 min', 'English', 'Feature films', 93, 2022, None)
('Without Saying Goodbye', 'March 18, 2022', 'Romantic comedy', '1 h 36 min', 'Spanish', 'Feature films', 96, 2022, None)
('Apollo 10 1⁄2: A Space Age Childhood', 'April 1, 2022', 'Animation', '1 h 38 min', 'English', 'Feature films', 98, 2022, None)
('The Taming of the Shrewd', 'April 13, 2022', 'Comedy', '1 h 52 min', 'Polish', 'Feature films', 112, 2022, None)
('The Turning Point', 'April 20, 2022', 'Drama', '1 h 30 min', 'Italian', 'Feature films', 90, 2022, None)
('Honeymoon with My Mother', 'April 29, 2022', 'Comedy', '1 h 50 min', 'Spanish', 'Feature films', 110, 2022, None)
('Rumspringa – An Amish in Berlin', 'April 29, 2022', 'Comedy', '1 h 42 min', 'German', 'Feature films', 102, 2022, None)
('Trees of Peace', 'June 10, 2022', 'Drama', '1 h 38 min', 'English', 'Feature films', 98, 2022, None)
('Centauro', 'June 15, 2022', 'Action thriller', '1 h 30 min', 'Spanish', 'Feature films', 90, 2022, None)
('Hello, Goodbye, and Everything in Between', 'July 6, 2022', 'Romantic comedy', '1 h 24 min', 'English', 'Feature films', 84, 2022, None)
('The Sea Beast', 'July 8, 2022', 'Animated adventure', '1 h 59 min', 'English', 'Feature films', 119, 2022, None)
('For Jojo', 'July 11, 2022', 'Drama', '1 h 30 min', 'German', 'Feature films', 90, 2022, None)
('Under the Amalfi Sun', 'July 13, 2022', 'Comedy drama', '1 h 30 min', 'Italian', 'Feature films', 90, 2022, None)
('The Gray Man', 'July 22, 2022', 'Spy thriller', '2 h 9 min', 'English', 'Feature films', 129, 2022, None)
('Recurrence', 'July 27, 2022', 'Thriller', '1 h 56 min', 'Spanish', 'Feature films', 116, 2022, None)
('13: The Musical', 'August 12, 2022', 'Musical', '1 h 34 min', 'English', 'Feature films', 94, 2022, None)
('Me Time', 'August 26, 2022', 'Comedy', '1 h 44 min', 'English', 'Feature films', 104, 2022, None)
('Aníkúlápó', 'September 30, 2022', 'Fantasy drama', '2 h 22 min', 'Yoruba', 'Feature films', 142, 2022, None)
('Togo', 'October 5, 2022', 'Thriller', '1 h 35 min', 'Spanish', 'Feature films', 95, 2022, None)
('Cici', 'October 28, 2022', 'Drama', '2 h 31 min', 'Turkish', 'Feature films', 151, 2022, None)
("My Father's Dragon", 'November 11, 2022', 'Animated fantasy adventure', '1 h 43 min', 'English', 'Feature films', 103, 2022, None)
('Slumberland', 'November 18, 2022', 'Fantasy adventure', '2 h', 'English', 'Feature films', 120, 2022, None)
('Scrooge: A Christmas Carol', 'December 2, 2022', 'Animation', '1 h 41 min', 'English', 'Feature films', 101, 2022, None)
('Delivery by Christmas', 'December 6, 2022', 'Romantic comedy', '1 h 40 min', 'Polish', 'Feature films', 100, 2022, None)
('Burning Patience', 'December 7, 2022', 'Drama', '1 h 30 min', 'Spanish', 'Feature films', 90, 2022, None)

Let's check if some of these exist in the IMDB table.

In [9]:
query = """
        SELECT *
        FROM imdb_basics AS b
        INNER JOIN imdb_ratings AS r
        ON b.tconst = r.tconst
        WHERE b.primaryTitle = 'Mascots';
        """
for row in cur.execute(query): 
    print(row)

('tt1956565', 'short', 'Mascots', 'Mascots', 0, 2011, None, 21, 'Drama,Family,Short', 'tt1956565', 7.7, 9)
('tt4936176', 'movie', 'Mascots', 'Mascots', 0, 2016, None, 89, 'Comedy', 'tt4936176', 5.8, 8267)

Since we have an entry with 2016 release year, it seems like we need to be more lenient on filtering the runtime.

Let's run the original query again with a more lenient filter for runtime and then check some more entries.

In [11]:
# List non-matches with runtime +-10
query = """
        SELECT *
        FROM netflix AS og_n
        LEFT JOIN (SELECT n.title
                    FROM netflix AS n
                    LEFT JOIN (SELECT b.tconst, b.primaryTitle, b.startYear, b.runtimeMinutes, r.averageRating
                                FROM imdb_basics AS b
                                INNER JOIN imdb_ratings AS r
                                ON b.tconst = r.tconst
                                WHERE startYear > 2014) 
                                AS i
                    ON LOWER(n.Title) = LOWER(i.primaryTitle) AND n.releaseYear = i.startYear
                    WHERE (i.runtimeMinutes <= n.runtime_min +10 AND i.runtimeMinutes >= n.runtime_min -10)
                    ) 
                    AS matched
        ON og_n.Title = matched.Title
        WHERE matched.Title IS NULL;
        """
# 
out = cur.execute(query)
names = list(map(lambda x: x[0], cur.description))
print(names)
for row in out: 
    print(row)

['title', 'releaseDate', 'genre', 'runtime', 'language', 'filmType', 'runtime_min', 'releaseYear', 'title']
('7 años', 'October 28, 2016', 'Drama', '1 h 17 min', 'Spanish', 'Feature films', 77, 2016, None)
('Imperial Dreams', 'February 3, 2017', 'Drama', '1 h 26 min', 'English', 'Feature films', 86, 2017, None)
('Tramps', 'April 21, 2017', 'Romantic comedy', '1 h 23 min', 'English', 'Feature films', 83, 2017, None)
('The Meyerowitz Stories (New and Selected)', 'October 13, 2017', 'Comedy drama', '1 h 52 min', 'English', 'Feature films', 112, 2017, None)
('My Own Man', 'March 6, 2015', None, '1 h 21 min', 'English', 'Documentaries', 81, 2015, None)
('The Other One: The Long Strange Trip of Bob Weir', 'May 22, 2015', None, '1 h 23 min', 'English', 'Documentaries', 83, 2015, None)
('What Happened, Miss Simone?', 'June 26, 2015', None, '1 h 24 min', 'English', 'Documentaries', 84, 2015, None)
('Tig', 'July 17, 2015', None, '1 h 20 min', 'English', 'Documentaries', 80, 2015, None)
("Winter on Fire: Ukraine's Fight for Freedom", 'October 9, 2015', None, '1 h 31 min', 'Ukrainian', 'Documentaries', 91, 2015, None)
('My Beautiful Broken Brain', 'March 18, 2016', None, '1 h 31 min', 'English', 'Documentaries', 91, 2016, None)
('Jim & Andy: The Great Beyond – Featuring a Very Special, Contractually Obligated Mention of Tony Clifton', 'November 17, 2017', None, '1 h 34 min', 'English', 'Documentaries', 94, 2017, None)
("Barbra: The Music, The Mem'ries, The Magic", 'November 22, 2017', 'Concert film', '1 h 48 min', 'English', 'Specials', 108, 2017, None)
('The Polka King', 'January 12, 2018', 'Biographical comedy', '1 h 34 min', 'English', 'Feature films', 94, 2018, None)
('Roxanne Roxanne', 'March 23, 2018', 'Musical drama', '1 h 40 min', 'English', 'Feature films', 100, 2018, None)
('Sometimes', 'May 1, 2018', 'Drama', '1 h 41 min', 'Tamil', 'Feature films', 101, 2018, None)
('Cargo', 'May 18, 2018', 'Drama / Horror', '1 h 44 min', 'English', 'Feature films', 104, 2018, None)
('Brij Mohan Amar Rahe', 'August 3, 2018', 'Action comedy', '1 h 40 min', 'Hindi', 'Feature films', 100, 2018, None)
('The After Party', 'August 24, 2018', 'Comedy', '1 h 29 min', 'English', 'Feature films', 89, 2018, None)
('On My Skin', 'September 12, 2018', 'Crime drama', '1 h 40 min', 'Italian', 'Feature films', 100, 2018, None)
('5 Star Christmas', 'December 7, 2018', 'Christmas comedy', '1 h 35 min', 'Italian', 'Feature films', 95, 2018, None)
('Ladies First', 'March 8, 2018', None, '39 min', 'Hindi', 'Documentaries', 39, 2018, None)
('Ram Dass, Going Home', 'April 6, 2018', None, '31 min', 'English', 'Documentaries', 31, 2018, None)
('City of Joy', 'September 7, 2018', None, '1 h 16 min', 'English', 'Documentaries', 76, 2018, None)
('Lessons from a School Shooting: Notes from Dunblane', 'September 28, 2018', None, '23 min', 'English', 'Documentaries', 23, 2018, None)
('ReMastered: Tricky Dick & the Man in Black', 'November 2, 2018', None, '58 min', 'English', 'Documentaries', 58, 2018, None)
("Angela's Christmas", 'November 30, 2018', 'Animation', '30 min', 'English', 'Specials', 30, 2018, None)
('Porta dos Fundos: The Last Hangover', 'December 21, 2018', 'Comedy', '44 min', 'Portuguese', 'Specials', 44, 2018, None)
('Lionheart', 'January 4, 2019', 'Drama', '1 h 34 min', 'English', 'Feature films', 94, 2019, None)
('Soni', 'January 18, 2019', 'Crime drama', '1 h 37 min', 'Hindi', 'Feature films', 97, 2019, None)
('Unicorn Store', 'April 5, 2019', 'Comedy drama', '1 h 31 min', 'English', 'Feature films', 91, 2019, None)
('Music Teacher', 'April 19, 2019', 'Drama', '1 h 41 min', 'Hindi', 'Feature films', 101, 2019, None)
('The Perfection', 'May 24, 2019', 'Horror thriller', '1 h 30 min', 'English', 'Feature films', 90, 2019, None)
('Jaoon Kahan Bata Ae Dil', 'August 9, 2019', 'Romantic drama', '1 h 46 min', 'Hindi', 'Feature films', 106, 2019, None)
('El Camino: A Breaking Bad Movie', 'October 11, 2019', 'Crime drama', '2 h 2 min', 'English', 'Feature films', 122, 2019, None)
('Drive', 'November 1, 2019', 'Action', '1 h 59 min', 'Hindi', 'Feature films', 119, 2019, None)
('Fyre: The Greatest Party That Never Happened', 'January 18, 2019', None, '1 h 37 min', 'English', 'Documentaries', 97, 2019, None)
('Period. End of Sentence.', 'February 12, 2019', None, '26 min', 'Hindi', 'Documentaries', 26, 2019, None)
('The Legend of Cocaine Island', 'March 29, 2019', None, '1 h 27 min', 'English', 'Documentaries', 87, 2019, None)
("ReMastered: The Lion's Share", 'May 17, 2019', None, '1 h 24 min', 'English', 'Documentaries', 84, 2019, None)
('Rolling Thunder Revue: A Bob Dylan Story by Martin Scorsese', 'June 12, 2019', None, '2 h 22 min', 'English', 'Documentaries', 142, 2019, None)
('Parchis: The Documentary', 'July 10, 2019', None, '1 h 46 min', 'Spanish', 'Documentaries', 106, 2019, None)
('Evelyn', 'September 10, 2019', None, '1 h 36 min', 'English', 'Documentaries', 96, 2019, None)
('El Pepe: A Supreme Life', 'December 27, 2019', None, '1 h 13 min', 'Spanish', 'Documentaries', 73, 2019, None)
('The Lonely Island Presents: The Unauthorized Bash Brothers Experience', 'May 23, 2019', 'Comedy / Musical', '30 min', 'English', 'Specials', 30, 2019, None)
('Sturgill Simpson Presents: Sound & Fury', 'September 27, 2019', 'Animation / Musical', '41 min', 'English', 'Specials', 41, 2019, None)
('Porta dos Fundos: The First Temptation of Christ', 'December 3, 2019', 'Comedy', '46 min', 'Portuguese', 'Specials', 46, 2019, None)
('Little Miss Sumo', 'October 28, 2019', 'Documentary', '19 min', 'Japanese', 'Shorts', 19, 2019, None)
('The Road to El Camino: A Breaking Bad Movie', 'October 29, 2019', 'Making-of', '13 min', 'English', 'Shorts', 13, 2019, None)
('Rich in Love', 'April 30, 2020', 'Romantic comedy', '1 h 45 min', 'Portuguese', 'Feature films', 105, 2020, None)
("I'm No Longer Here", 'May 27, 2020', 'Drama', '1 h 52 min', 'Spanish', 'Feature films', 112, 2020, None)
('Choked: Paisa Bolta Hai', 'June 5, 2020', 'Drama', '1 h 54 min', 'Hindi', 'Feature films', 114, 2020, None)
("Freaks – You're One of Us", 'September 2, 2020', 'Supernatural drama', '1 h 32 min', 'German', 'Feature films', 92, 2020, None)
('Dolly Kitty Aur Woh Chamakte Sitare', 'September 18, 2020', 'Drama', '2 h', 'Hindi', 'Feature films', 120, 2020, None)
('Òlòtūré', 'October 2, 2020', 'Crime drama', '1 h 46 min', 'English', 'Feature films', 106, 2020, None)
('The Day of the Lord', 'October 30, 2020', 'Horror', '1 h 33 min', 'Spanish', 'Feature films', 93, 2020, None)
('Crip Camp: A Disability Revolution', 'March 25, 2020', None, '1 h 48 min', 'English', 'Documentaries', 108, 2020, None)
('Circus of Books', 'April 22, 2020', None, '1 h 26 min', 'English', 'Documentaries', 86, 2020, None)
('Have a Good Trip: Adventures in Psychedelics', 'May 11, 2020', None, '1 h 25 min', 'English', 'Documentaries', 85, 2020, None)
('Spelling the Dream', 'June 3, 2020', None, '1 h 23 min', 'English', 'Documentaries', 83, 2020, None)
('Disclosure: Trans Lives on Screen', 'June 19, 2020', None, '1 h 47 min', 'English', 'Documentaries', 107, 2020, None)
('Hope Frozen: A Quest to Live Twice', 'September 15, 2020', None, '1 h 20 min', 'Thai', 'Documentaries', 80, 2020, None)
('Guillermo Vilas: Settling the Score', 'October 27, 2020', None, '1 h 34 min', 'Spanish', 'Documentaries', 94, 2020, None)
("Emicida: AmarElo – It's All For Yesterday", 'December 8, 2020', None, '1 h 29 min', 'Portuguese', 'Documentaries', 89, 2020, None)
('Ben Platt: Live from Radio City Music Hall', 'May 20, 2020', 'Concert film', '1 h 25 min', 'English', 'Specials', 85, 2020, None)
("Ma Rainey's Black Bottom: A Legacy Brought to Screen", 'December 18, 2020', 'Aftershow / Interview', '31 min', 'English', 'Specials', 31, 2020, None)
('What Did Jack Do?', 'January 20, 2020', 'Drama', '17 min', 'English', 'Shorts', 17, 2020, None)
('Sitara: Let Girls Dream', 'March 8, 2020', 'Animation', '15 min', 'English', 'Shorts', 15, 2020, None)
('A Love Song for Latasha', 'September 21, 2020', 'Documentary', '19 min', 'English', 'Shorts', 19, 2020, None)
("I'm No Longer Here: A Discussion with Guillermo del Toro and Alfonso Cuarón", 'November 3, 2020', 'Aftershow / Interview', '14 min', 'English', 'Shorts', 14, 2020, None)
('Pieces of a Woman', 'January 7, 2021', 'Drama', '2 h 6 min', 'English', 'Feature films', 126, 2021, None)
('Tribhanga – Tedhi Medhi Crazy', 'January 15, 2021', 'Drama', '1 h 35 min', 'Hindi', 'Feature films', 95, 2021, None)
('June & Kopi', 'January 28, 2021', 'Drama', '1 h 30 min', 'Indonesian', 'Feature films', 90, 2021, None)
('Finding ʻOhana', 'January 29, 2021', 'Family', '2 h 3 min', 'English', 'Feature films', 123, 2021, None)
('The Last Paradiso', 'February 5, 2021', 'Romantic drama', '1 h 47 min', 'Italian', 'Feature films', 107, 2021, None)
('Get the Goat', 'March 18, 2021', 'Comedy', '1 h 38 min', 'Portuguese', 'Feature films', 98, 2021, None)
('Tersanjung the Movie', 'April 1, 2021', 'Drama', '1 h 54 min', 'Indonesian', 'Feature films', 114, 2021, None)
('Concrete Cowboy', 'April 2, 2021', 'Drama', '1 h 51 min', 'English', 'Feature films', 111, 2021, None)
('Night in Paradise', 'April 9, 2021', 'Drama', '2 h 12 min', 'Korean', 'Feature films', 132, 2021, None)
('The Disciple', 'April 30, 2021', 'Drama', '2 h 8 min', 'Marathi', 'Feature films', 128, 2021, None)
('Milestone', 'May 7, 2021', 'Drama', '1 h 37 min', 'Hindi', 'Feature films', 97, 2021, None)
('Monster', 'May 7, 2021', 'Drama', '1 h 39 min', 'English', 'Feature films', 99, 2021, None)
('Tragic Jungle', 'June 9, 2021', 'Drama', '1 h 36 min', 'Spanish', 'Feature films', 96, 2021, None)
('Ali & Ratu Ratu Queens', 'June 17, 2021', 'Comedy drama', '1 h 40 min', 'Indonesian', 'Feature films', 100, 2021, None)
('Fear Street Part 1: 1994', 'July 2, 2021', 'Teen horror / slasher', '1 h 47 min', 'English', 'Feature films', 107, 2021, None)
('Fear Street Part 2: 1978', 'July 9, 2021', 'Teen horror / slasher', '1 h 50 min', 'English', 'Feature films', 110, 2021, None)
('Fear Street Part 3: 1666', 'July 16, 2021', 'Supernatural horror', '1 h 54 min', 'English', 'Feature films', 114, 2021, None)
('Diana: The Musical', 'October 1, 2021', 'Musical', '1 h 57 min', 'English', 'Feature films', 117, 2021, None)
('Nobody Sleeps in the Woods Tonight Part 2', 'October 27, 2021', 'Horror', '1 h 37 min', 'Polish', 'Feature films', 97, 2021, None)
('The Princess Switch 3: Romancing the Star', 'November 18, 2021', 'Romantic comedy', '1 h 46 min', 'English', 'Feature films', 106, 2021, None)
('Bruised', 'November 24, 2021', 'Drama', '2 h 12 min', 'English', 'Feature films', 132, 2021, None)
('A California Christmas: City Lights', 'December 16, 2021', 'Romantic comedy', '1 h 30 min', 'English', 'Feature films', 90, 2021, None)
('Operation Varsity Blues: The College Admissions Scandal', 'March 17, 2021', None, '1 h 39 min', 'English', 'Documentaries', 99, 2021, None)
('Kitty Love: An Homage to Cats', 'June 5, 2021', None, '1 h', 'Dutch', 'Documentaries', 60, 2021, None)
('Private Network: Who Killed Manuel Buendia?', 'July 14, 2021', None, '1 h 40 min', 'Spanish', 'Documentaries', 100, 2021, None)
('Untold: Malice at the Palace', 'August 10, 2021', None, '1 h 9 min', 'English', 'Documentaries', 69, 2021, None)
('Untold: Deal with the Devil', 'August 17, 2021', None, '1 h 17 min', 'English', 'Documentaries', 77, 2021, None)
('Untold: Caitlyn Jenner', 'August 24, 2021', None, '1 h 9 min', 'English', 'Documentaries', 69, 2021, None)
('Untold: Crimes & Penalties', 'August 31, 2021', None, '1 h 26 min', 'English', 'Documentaries', 86, 2021, None)
('Untold: Breaking Point', 'September 7, 2021', None, '1 h 19 min', 'English', 'Documentaries', 79, 2021, None)
('Making Malinche: A Documentary by Nacho Cano', 'October 12, 2021', None, '1 h 29 min', 'Spanish', 'Documentaries', 89, 2021, None)
('Flip a Coin – One OK Rock Documentary', 'October 21, 2021', None, '1 h 45 min', 'Japanese', 'Documentaries', 105, 2021, None)
('To All the Boys: Always and Forever – The Afterparty', 'February 13, 2021', 'Aftershow', '36 min', 'English', 'Specials', 36, 2021, None)
('Emicida: AmarElo – Live in São Paulo', 'July 15, 2021', 'Concert', '1 h 39 min', 'Portuguese', 'Specials', 99, 2021, None)
('Attack of The Hollywood Clichés!', 'September 28, 2021', 'Comedy', '58 min', 'English', 'Specials', 58, 2021, None)
('Four to Dinner', 'January 5, 2022', 'Romantic comedy', '1 h 30 min', 'Italian', 'Feature films', 90, 2022, None)
('The Wasteland', 'January 6, 2022', 'Horror', '1 h 32 min', 'Spanish', 'Feature films', 92, 2022, None)
('Photocopier', 'January 13, 2022', 'Coming-of-age drama', '2 h 10 min', 'Indonesian', 'Feature films', 130, 2022, None)
('This Is Not a Comedy', 'January 14, 2022', 'Comedy drama', '1 h 45 min', 'Spanish', 'Feature films', 105, 2022, None)
('Munich – The Edge of War', 'January 21, 2022', 'Historical drama / thriller', '2 h 11 min', 'English', 'Feature films', 131, 2022, None)
('Bigbug', 'February 11, 2022', 'Science fiction comedy', '1 h 51 min', 'French', 'Feature films', 111, 2022, None)
('Rabbids Invasion: Mission to Mars', 'February 18, 2022', 'Animation / Comedy', '1 h 10 min', 'English', 'Feature films', 70, 2022, None)
('A Madea Homecoming', 'February 25, 2022', 'Comedy', '1 h 47 min', 'English', 'Feature films', 107, 2022, None)
('The Invisible Thread', 'March 4, 2022', 'Comedy drama', '1 h 30 min', 'Italian', 'Feature films', 90, 2022, None)
('Without Saying Goodbye', 'March 18, 2022', 'Romantic comedy', '1 h 36 min', 'Spanish', 'Feature films', 96, 2022, None)
('Apollo 10 1⁄2: A Space Age Childhood', 'April 1, 2022', 'Animation', '1 h 38 min', 'English', 'Feature films', 98, 2022, None)
('The Taming of the Shrewd', 'April 13, 2022', 'Comedy', '1 h 52 min', 'Polish', 'Feature films', 112, 2022, None)
('The Turning Point', 'April 20, 2022', 'Drama', '1 h 30 min', 'Italian', 'Feature films', 90, 2022, None)
('Honeymoon with My Mother', 'April 29, 2022', 'Comedy', '1 h 50 min', 'Spanish', 'Feature films', 110, 2022, None)
('Rumspringa – An Amish in Berlin', 'April 29, 2022', 'Comedy', '1 h 42 min', 'German', 'Feature films', 102, 2022, None)
('Trees of Peace', 'June 10, 2022', 'Drama', '1 h 38 min', 'English', 'Feature films', 98, 2022, None)
('Centauro', 'June 15, 2022', 'Action thriller', '1 h 30 min', 'Spanish', 'Feature films', 90, 2022, None)
('Hello, Goodbye, and Everything in Between', 'July 6, 2022', 'Romantic comedy', '1 h 24 min', 'English', 'Feature films', 84, 2022, None)
('Recurrence', 'July 27, 2022', 'Thriller', '1 h 56 min', 'Spanish', 'Feature films', 116, 2022, None)
('Aníkúlápó', 'September 30, 2022', 'Fantasy drama', '2 h 22 min', 'Yoruba', 'Feature films', 142, 2022, None)
('Cici', 'October 28, 2022', 'Drama', '2 h 31 min', 'Turkish', 'Feature films', 151, 2022, None)
('Bardo, False Chronicle of a Handful of Truths', 'December 16, 2022', 'Comedy', '2 h 39 min', 'Spanish', 'Feature films', 159, 2022, None)
('Glass Onion: A Knives Out Mystery', 'December 23, 2022', 'Murder mystery', '2 h 19 min', 'English', 'Feature films', 139, 2022, None)
('Three Songs for Benazir', 'January 24, 2022', None, '22 min', 'Pashto', 'Documentaries', 22, 2022, None)
('Broken Idol: The Undoing of Diomedes Díaz', 'March 30, 2022', None, '1 h 42 min', 'Spanish', 'Documentaries', 102, 2022, None)
('Jennifer Lopez: Halftime', 'June 14, 2022', None, '1 h 36 min', 'English', 'Documentaries', 96, 2022, None)
('Never Stop Dreaming: The Life and Legacy of Shimon Peres', 'July 13, 2022', None, '2 h 9 min', 'English', 'Documentaries', 129, 2022, None)
('Untold: The Rise and Fall of AND1', 'August 23, 2022', None, '1 h 9 min', 'English', 'Documentaries', 69, 2022, None)
('Untold: Operation Flagrant Foul', 'August 30, 2022', None, '1 h 17 min', 'English', 'Documentaries', 77, 2022, None)
('Untold: The Race of the Century', 'September 6, 2022', None, '1 h 23 min', 'English', 'Documentaries', 83, 2022, None)
('Into the Deep: The Submarine Murder Case', 'September 30, 2022', None, '1 h 27 min', 'English', 'Documentaries', 87, 2022, None)
('LiSA: Another Great Day', 'October 18, 2022', None, '1 h 37 min', 'Japanese', 'Documentaries', 97, 2022, None)
('Take Your Pills: Xanax', 'November 30, 2022', None, '1 h 30 min', 'English', 'Documentaries', 90, 2022, None)
('The Masked Scammer', 'December 1, 2022', None, '1 h 30 min', 'English', 'Documentaries', 90, 2022, None)
('"Sr."', 'December 2, 2022', None, '1 h 30 min', 'English', 'Documentaries', 90, 2022, None)
("Dave Chappelle: What's In a Name?", 'July 7, 2022', 'Speech', '39 min', 'English', 'Specials', 39, 2022, None)
('Barbie Epic Road Trip', 'October 25, 2022', 'Animation / interactive fiction', '36 min', 'English', 'Specials', 36, 2022, None)
('Nightmare of the Wolf Bestiary', 'August 23, 2022', 'Clipshow', '11 min', 'English', 'Shorts', 11, 2022, None)
('Triviaverse', 'November 8, 2022', 'Interactive fiction / quiz show', '6 min', 'English', 'Shorts', 6, 2022, None)
('The Pale Blue Eye', 'January 6, 2023', 'Historical thriller drama', '2 h 10 min', 'English', 'Feature films', 130, 2023, None)
('Disconnect: The Wedding Planner', 'January 13, 2023', 'Romantic comedy', '1 h 47 min', 'English', 'Feature films', 107, 2023, None)
('Alkhallat+', 'January 19, 2023', 'Satirical thriller', '1 h 57 min', 'Arabic', 'Feature films', 117, 2023, None)
('Jung E', 'January 20, 2023', 'Sci-fi action / adventure', '1 h 39 min', 'Korean', 'Feature films', 99, 2023, None)
('The Price of Family', 'January 25, 2023', 'Comedy', '1 h 30 min', 'Italian', 'Feature films', 90, 2023, None)
('Love at First Kiss', 'March 3, 2023', 'Romantic comedy', '1 h 36 min', 'Spanish', 'Feature films', 96, 2023, None)
('Hunger', 'April 8, 2023', 'Thriller drama', '2 h 10 min', 'Thai', 'Feature films', 130, 2023, None)
('Kiss, Kiss!', 'April 26, 2023', 'Romantic comedy', '1 h 47 min', 'Polish', 'Feature films', 107, 2023, None)
('Kathal\xa0– A Jackfruit Mystery', 'May 19, 2023', 'Dark crime dramedy', '1 h 55 min', 'Hindi', 'Feature films', 115, 2023, None)
('Blood and Gold', 'May 26, 2023', 'War', '1 h 40 min', 'German', 'Feature films', 100, 2023, None)
('The Wonder Weeks', 'June 9, 2023', 'Comedy drama', '1 h 50 min', 'Dutch', 'Feature films', 110, 2023, None)
('Extraction 2', 'June 16, 2023', 'Action thriller', '2 h 3 min', 'English', 'Feature films', 123, 2023, None)
('Through My Window 2: Across the Sea', 'June 23, 2023', 'Romance', '1 h 51 min', 'Spanish', 'Feature films', 111, 2023, None)
('Bird Box Barcelona', 'July 14, 2023', 'Post-apocalyptic horror-thriller', '1 h 51 min', 'Spanish', 'Feature films', 111, 2023, None)
('Love, Sex & 30 Candles', 'August 18, 2023', 'Drama', '1 h 46 min', 'English', 'Feature films', 106, 2023, None)
('What If?', 'September 7, 2023', 'Romantic drama', '1 h 52 min', 'Filipino', 'Feature films', 112, 2023, None)
('Ìjọ̀gbọ̀n', 'October 13, 2023', 'Drama', '1 h 55 min', 'Yoruba', 'Feature films', 115, 2023, None)
('Rebel Moon – Part One: A Child of Fire', 'December 21, 2023', 'Space opera', '2 h 15 min', 'English', 'Feature films', 135, 2023, None)
('Big Mäck: Gangsters and Gold', 'January 20, 2023', None, '1 h 30 min', 'German', 'Documentaries', 90, 2023, None)
('Pamela, a Love Story', 'January 31, 2023', None, '1 h 52 min', 'English', 'Documentaries', 112, 2023, None)
('Caught Out: Crime. Corruption. Cricket.', 'March 17, 2023', None, '1 h 17 min', 'English', 'Documentaries', 77, 2023, None)
('Missing: The Lucie Blackman Case[a]', 'July 26, 2023', None, '1 h 22 min', 'English', 'Documentaries', 82, 2023, None)
('Tokyo Crime Squad: The Lucie Blackman Case[b]', 'July 26, 2023', None, '1 h 41 min', 'Japanese', 'Documentaries', 101, 2023, None)
('Untold: Jake Paul the Problem Child', 'August 1, 2023', None, '1 h 12 min', 'English', 'Documentaries', 72, 2023, None)
('Untold: Johnny Football', 'August 8, 2023', None, '1 h 12 min', 'English', 'Documentaries', 72, 2023, None)

In [ ]:
query = """
        SELECT *
        FROM imdb_basics AS b
        INNER JOIN imdb_ratings AS r
        ON b.tconst = r.tconst
        WHERE b.primaryTitle = '7 años';
        """
for row in cur.execute(query): 
    print(row)

No matches? We might have better luck with originalTitle than primaryTitle since the title isn't in English.

In [ ]:
query = """
        SELECT *
        FROM imdb_basics AS b
        INNER JOIN imdb_ratings AS r
        ON b.tconst = r.tconst
        WHERE b.originalTitle = '7 años';
        """
for row in cur.execute(query): 
    print(row)

So, some of the netflix flims might use the title in the original language instead of the more popular title. Seems like we need to try comparing the title to the original title if the primary and original titles are different from each other.

In [ ]:
# List non-matches with runtime +-10 and original title matching
# Joining on primary title and original title separately and use UNION to combine the joined tables
# Note that UNION ALL should yield the same results since when we're joining on original title, we're only subsetting the entries where
# the primary title does not match the original title.
query = """
        SELECT *
        FROM netflix AS og_n
        LEFT JOIN (SELECT n.title
                    FROM netflix AS n
                    LEFT JOIN (SELECT *
                                FROM imdb_basics AS b
                                INNER JOIN imdb_ratings AS r
                                ON b.tconst = r.tconst
                                WHERE startYear > 2014) 
                                AS i
                    ON LOWER(n.Title) = LOWER(i.primaryTitle) AND SUBSTR(n.releaseDate,-4,4) = i.startYear
                    WHERE (CAST(i.runtimeMinutes as INTEGER) <= n.runtime_min +10 AND CAST(i.runtimeMinutes as INTEGER) >= n.runtime_min -10)
                    UNION
                    SELECT n.title
                    FROM netflix AS n
                    LEFT JOIN (SELECT *
                                FROM imdb_basics AS b
                                INNER JOIN imdb_ratings AS r
                                ON b.tconst = r.tconst
                                WHERE startYear > 2014 AND LOWER(primaryTitle) != LOWER(originalTitle) )
                                AS i
                    ON LOWER(n.Title) = LOWER(i.originalTitle) AND SUBSTR(n.releaseDate,-4,4) = i.startYear
                    WHERE (CAST(i.runtimeMinutes as INTEGER) <= n.runtime_min +10 AND CAST(i.runtimeMinutes as INTEGER) >= n.runtime_min -10)
                    )
                    AS matched
        ON og_n.Title = matched.Title
        WHERE matched.Title IS NULL;
        """
# 
out = cur.execute(query)
names = list(map(lambda x: x[0], cur.description))
print(names)
for row in out: 
    print(row)

In [ ]:
# Print netflix entry for comparison
query = """
        SELECT *
        FROM netflix
        WHERE title = "Tramps";
        """
for row in cur.execute(query): 
    print(row) 

# Look for film 'Mercy' with the year 2016
query = """
        SELECT *
        FROM imdb_basics 
        WHERE primaryTitle = "Tramps" AND startYear > 2000;
        """
for row in cur.execute(query): 
    print(row)

More lenient on release year (+-1 year?)

In [ ]:
# Print netflix entry for comparison
query = """
        SELECT *
        FROM netflix
        WHERE title = "The Other One: The Long Strange Trip of Bob Weir";
        """
for row in cur.execute(query): 
    print(row) 

# Look for film 'Mercy' with the year 2016
query = """
        SELECT *
        FROM imdb_basics 
        WHERE tconst = 'tt3692768';
        """
for row in cur.execute(query): 
    print(row)

In [ ]:
# List non-matches with runtime +-10 and original title matching and release year more lenient +-1
query = """
        SELECT *
        FROM netflix AS og_n
        LEFT JOIN (SELECT n.title
                    FROM netflix AS n
                    LEFT JOIN (SELECT *
                                FROM imdb_basics AS b
                                INNER JOIN imdb_ratings AS r
                                ON b.tconst = r.tconst
                                WHERE startYear > 2014) 
                                AS i
                    ON LOWER(n.Title) = LOWER(i.primaryTitle)
                    WHERE (CAST(i.runtimeMinutes as INTEGER) <= n.runtime_min +10 AND CAST(i.runtimeMinutes as INTEGER) >= n.runtime_min -10)
                    AND i.startYear <= SUBSTR(n.releaseDate,-4,4) + 1 AND i.startYear >= SUBSTR(n.releaseDate,-4,4) - 1
                    UNION
                    SELECT n.title
                    FROM netflix AS n
                    LEFT JOIN (SELECT *
                                FROM imdb_basics AS b
                                INNER JOIN imdb_ratings AS r
                                ON b.tconst = r.tconst
                                WHERE startYear > 2014 AND LOWER(primaryTitle) != LOWER(originalTitle) )
                                AS i
                    ON LOWER(n.Title) = LOWER(i.originalTitle)
                    WHERE (CAST(i.runtimeMinutes as INTEGER) <= n.runtime_min +10 AND CAST(i.runtimeMinutes as INTEGER) >= n.runtime_min -10)
                    AND i.startYear <= SUBSTR(n.releaseDate,-4,4) + 1 AND i.startYear >= SUBSTR(n.releaseDate,-4,4) - 1
                    )
                    AS matched
        ON og_n.Title = matched.Title
        WHERE matched.Title IS NULL;
        """
# 
out = cur.execute(query)
names = list(map(lambda x: x[0], cur.description))
print(names)
for row in out: 
    print(row)

In [ ]:
# Print netflix entry for comparison
query = """
        SELECT *
        FROM netflix
        WHERE title = "Tig";
        """
for row in cur.execute(query): 
    print(row) 

# Look for film 'Mercy' with the year 2016
query = """
        SELECT *
        FROM imdb_basics 
        WHERE primaryTitle = 'Tig' AND startYear > 2000;
        """
for row in cur.execute(query): 
    print(row)

In [ ]:
# Runtime match with lenient year filter +- 1 year - CURRENT BEST
query = """
        SELECT COUNT(*)
        FROM netflix AS n
        LEFT JOIN (SELECT *
                    FROM imdb_basics AS b
                    INNER JOIN imdb_ratings AS r
                    ON b.tconst = r.tconst
                    WHERE startYear > 2000) 
                    AS i
        ON LOWER(n.Title) = LOWER(i.primaryTitle)
        WHERE (CAST(i.runtimeMinutes as INTEGER) < n.runtime_min +3 AND CAST(i.runtimeMinutes as INTEGER) > n.runtime_min -3)
            AND i.startYear < SUBSTR(n.releaseDate,-4,4) + 1 AND i.startYear > SUBSTR(n.releaseDate,-4,4) - 1;
        """
# 
out = cur.execute(query)
names = list(map(lambda x: x[0], cur.description))
print(names)
for row in out: 
    print(row)

In [ ]:
# Runtime match with lenient year filter +- 1 year - CURRENT BEST
# Now join imdb titles separately for primary and original titles
# Matching on original title if the primary title is different from the original title = gives us 25 rows
query = """
        SELECT *
        FROM netflix AS n
        LEFT JOIN (SELECT *
                    FROM imdb_basics AS b
                    INNER JOIN imdb_ratings AS r
                    ON b.tconst = r.tconst
                    WHERE startYear > 2000 AND LOWER(primaryTitle) != LOWER(originalTitle) )
                    AS i
        ON LOWER(n.Title) = LOWER(i.originalTitle)
        WHERE (CAST(i.runtimeMinutes as INTEGER) < n.runtime_min +3 AND CAST(i.runtimeMinutes as INTEGER) > n.runtime_min -3)
            AND i.startYear < SUBSTR(n.releaseDate,-4,4) + 1 AND i.startYear > SUBSTR(n.releaseDate,-4,4) - 1;
        """
# 
out = cur.execute(query)
names = list(map(lambda x: x[0], cur.description))
print(names)
for row in out: 
    print(row)

In [ ]:
# Runtime match with lenient year filter +- 1 year - CURRENT BEST
# Now join imdb titles separately for primary and original titles
# Use union to combine films matched by the primary and the original titles -- takes forever to run, so let's just do count in the next cell
query = """
        SELECT *
        FROM netflix AS n
        LEFT JOIN (SELECT *
                    FROM imdb_basics AS b
                    INNER JOIN imdb_ratings AS r
                    ON b.tconst = r.tconst
                    WHERE startYear > 2000 )
                    AS i
        ON LOWER(n.Title) = LOWER(i.primaryTitle)
        WHERE (CAST(i.runtimeMinutes as INTEGER) < n.runtime_min +3 AND CAST(i.runtimeMinutes as INTEGER) > n.runtime_min -3)
            AND i.startYear < SUBSTR(n.releaseDate,-4,4) + 1 AND i.startYear > SUBSTR(n.releaseDate,-4,4) - 1
        UNION
        SELECT *
        FROM netflix AS n
        LEFT JOIN (SELECT *
                    FROM imdb_basics AS b
                    INNER JOIN imdb_ratings AS r
                    ON b.tconst = r.tconst
                    WHERE startYear > 2000 AND LOWER(primaryTitle) != LOWER(originalTitle) )
                    AS i
        ON LOWER(n.Title) = LOWER(i.originalTitle)
        WHERE (CAST(i.runtimeMinutes as INTEGER) < n.runtime_min +3 AND CAST(i.runtimeMinutes as INTEGER) > n.runtime_min -3)
            AND i.startYear < SUBSTR(n.releaseDate,-4,4) + 1 AND i.startYear > SUBSTR(n.releaseDate,-4,4) - 1;
        """
# 
out = cur.execute(query)
names = list(map(lambda x: x[0], cur.description))
print(names)
for row in out: 
    print(row)

In [ ]:
# Runtime match with lenient year filter +- 1 year - CURRENT BEST
# Now join imdb titles separately for primary and original titles
# Use union to combine films matched by the primary and the original titles
query = """
        WITH combined AS
        (SELECT *
        FROM netflix AS n
        LEFT JOIN (SELECT *
                    FROM imdb_basics AS b
                    INNER JOIN imdb_ratings AS r
                    ON b.tconst = r.tconst
                    WHERE startYear > 2000 )
                    AS i
        ON LOWER(n.Title) = LOWER(i.primaryTitle)
        WHERE (CAST(i.runtimeMinutes as INTEGER) < n.runtime_min +3 AND CAST(i.runtimeMinutes as INTEGER) > n.runtime_min -3)
            AND i.startYear < SUBSTR(n.releaseDate,-4,4) + 1 AND i.startYear > SUBSTR(n.releaseDate,-4,4) - 1
        UNION ALL
        SELECT *
        FROM netflix AS n
        LEFT JOIN (SELECT *
                    FROM imdb_basics AS b
                    INNER JOIN imdb_ratings AS r
                    ON b.tconst = r.tconst
                    WHERE startYear > 2000 AND LOWER(primaryTitle) != LOWER(originalTitle) )
                    AS i
        ON LOWER(n.Title) = LOWER(i.originalTitle)
        WHERE (CAST(i.runtimeMinutes as INTEGER) < n.runtime_min +3 AND CAST(i.runtimeMinutes as INTEGER) > n.runtime_min -3)
            AND i.startYear < SUBSTR(n.releaseDate,-4,4) + 1 AND i.startYear > SUBSTR(n.releaseDate,-4,4) - 1)
        SELECT COUNT(*)
        FROM combined;
        """
# 
out = cur.execute(query)
names = list(map(lambda x: x[0], cur.description))
print(names)
for row in out: 
    print(row)

In [ ]:
# Runtime match
query = """
        SELECT title, releaseDate, genre, language, filmType, runtime_min AS runtime, tconst, averageRating, numVotes
        FROM netflix AS n
        LEFT JOIN (SELECT b.tconst, titleType, primaryTitle, isAdult, startYear, runtimeMinutes, averageRating, numVotes
                    FROM imdb_basics AS b
                    INNER JOIN imdb_ratings AS r
                    ON b.tconst = r.tconst
                    WHERE startYear > 2000) 
                    AS i
        ON LOWER(n.Title) = LOWER(i.primaryTitle) AND substr(n.releaseDate,-4,4) = i.startYear
        WHERE (CAST(i.runtimeMinutes as INTEGER) < n.runtime_min +3 AND CAST(i.runtimeMinutes as INTEGER) > n.runtime_min -3);
        """
# Load data into Pandas DataFrame
df = pd.read_sql_query(query, conn)

In [ ]:
df.head()

In [ ]:
df.info()

In [ ]:
# runtime mismatch
query = """
        SELECT i.tconst, n.title, n.releaseDate, i.startYear, n.runtime_min, CAST(i.runtimeMinutes as INTEGER)
        FROM netflix AS n
        LEFT JOIN (SELECT *
                    FROM imdb_basics AS b
                    INNER JOIN imdb_ratings AS r
                    ON b.tconst = r.tconst
                    WHERE startYear > 2014) 
                    AS i
        ON n.Title = i.primaryTitle AND substr(n.releaseDate,-4,4) = i.startYear
        WHERE (CAST(i.runtimeMinutes as INTEGER) >= n.runtime_min +10 OR CAST(i.runtimeMinutes as INTEGER) <= n.runtime_min -10);
        """
out = cur.execute(query)
names = list(map(lambda x: x[0], cur.description))
print(names)
for row in out: 
    print(row)

In [ ]:
# Match title between netflix and IMDB data
query = """
        SELECT COUNT(*)
        FROM netflix AS n
        LEFT JOIN (SELECT *
                    FROM imdb_basics AS b
                    INNER JOIN imdb_ratings AS r
                    ON b.tconst = r.tconst
                    WHERE startYear > 2014) 
                    AS i
        ON n.Title = i.primaryTitle AND substr(n.releaseDate,-4,4) = i.startYear;
        """
out = cur.execute(query)
names = list(map(lambda x: x[0], cur.description))
print(names)
for row in out: 
    print(row)

In [ ]:
# non match on title and year
query = """
        SELECT COUNT(*)
        FROM netflix AS n
        LEFT JOIN (SELECT *
                    FROM imdb_basics AS b
                    INNER JOIN imdb_ratings AS r
                    ON b.tconst = r.tconst
                    ) 
                    AS i
        ON n.Title = i.primaryTitle
        WHERE averageRating IS NULL;
        """
# AND substr(n.releaseDate,-4,4) = i.startYear
for row in cur.execute(query): 
    print(row)

In [ ]:
# Match title between netflix and IMDB data
query = """
        SELECT i.tconst, n.title, n.releaseDate, i.startYear, n.genre, i.genres, i.averageRating, i.numVotes
        FROM netflix AS n
        LEFT JOIN (SELECT *
                    FROM imdb_basics AS b
                    INNER JOIN imdb_ratings AS r
                    ON b.tconst = r.tconst
                    WHERE startYear > 2014) 
                    AS i
        ON n.Title = i.primaryTitle 
        LIMIT 10;
        """
out = cur.execute(query)
names = list(map(lambda x: x[0], cur.description))
print(names)
for row in out: 
    print(row)

There are multiple items with the same title in the IMDB data that seem to be joining to the same Netflix title, so let's join conjunctively on both title and year.

In [ ]:
# TODO: have a duplicate checking code here
# check if the preceding title is the same -- looking for duplicates
# Match title between netflix and IMDB data
query = """
        SELECT title, releaseDate, filmType, tconst, titleType
        FROM netflix AS n
        LEFT JOIN (SELECT *
                    FROM imdb_basics AS b
                    INNER JOIN imdb_ratings AS r
                    ON b.tconst = r.tconst
                    WHERE startYear > 2014) 
                    AS i
        ON n.title = i.primaryTitle AND substr(n.releaseDate,-4,4) = i.startYear;
        """
out = cur.execute(query)

# Get column names to display with the output
names = list(map(lambda x: x[0], cur.description))
print(names)

# Print output of the query
for row in out: 
    print(row)

In [ ]:
query = """
        SELECT *
        FROM imdb_basics
        WHERE primaryTitle == 'Rebirth' AND startYear = 2016;
        """
out = cur.execute(query)

# Get column names to display with the output
names = list(map(lambda x: x[0], cur.description))
print(names)

# Print output of the query
for row in out: 
    print(row)

In [ ]:
query = """
        SELECT *
        FROM netflix
        WHERE title == 'Rebirth';
        """
# Print output of the query
for row in cur.execute(query): 
    print(row)

In [ ]:
# Match title between netflix and IMDB data
query = """
        SELECT i.titleType, n.title, n.releaseDate, i.startYear, n.genre, i.genres, i.averageRating, i.numVotes
        FROM netflix AS n
        LEFT JOIN (SELECT *
                    FROM imdb_basics AS b
                    INNER JOIN imdb_ratings AS r
                    ON b.tconst = r.tconst
                    WHERE startYear > 2014) 
                    AS i
        ON n.title = i.primaryTitle AND substr(n.releaseDate,-4,4) = i.startYear
        LIMIT 10;
        """
out = cur.execute(query)

# Get column names to display with the output
names = list(map(lambda x: x[0], cur.description))
print(names)

# Print output of the query
for row in out: 
    print(row)

Even with the title and year match filter, there are still two items with the title 'Rebirth' in the IMDB that are being joined to the same item in Netflix data. One is 'tvEpisode' and the other is 'movie'. Out of curiosity, let's list all the IMDB items that have the title 'Rebirth'.

In [ ]:
query = """
        SELECT *
        FROM imdb_basics
        WHERE primaryTitle = 'Rebirth';
        """
for row in cur.execute(query): 
    print(row)

So.. a LOT. From the query one above, it seems like most matches have titleType as 'movie' in IMDB (which makes sense since we're looking at Netflix original *films*), so let's limit the IMDB data with 'movie' as titleType.

In [ ]:
# Match title between netflix and IMDB data
query = """
        SELECT i.titleType, n.title, n.releaseDate, i.startYear, n.genre, i.genres, i.averageRating, i.numVotes
        FROM netflix AS n
        LEFT JOIN (SELECT *
                    FROM imdb_basics AS b
                    INNER JOIN imdb_ratings AS r
                    ON b.tconst = r.tconst
                    WHERE b.startYear > 2014 AND b.titleType = 'movie') 
                    AS i
        ON LOWER(n.title) = LOWER(i.primaryTitle) AND SUBSTR(n.releaseDate,-4,4) = i.startYear
        LIMIT 20;
        """
out = cur.execute(query)

# Get column names to display with the output
names = list(map(lambda x: x[0], cur.description))
print(names)

# Print output of the query
for row in out: 
    print(row)

In [ ]:
# Match title between netflix and IMDB data
query = """
        SELECT i.titleType, n.title, n.releaseDate, i.startYear, n.genre, i.genres, i.averageRating, i.numVotes
        FROM netflix AS n
        LEFT JOIN (SELECT *
                    FROM imdb_basics AS b
                    INNER JOIN imdb_ratings AS r
                    ON b.tconst = r.tconst
                    WHERE b.startYear > 2014 AND b.titleType = 'movie') 
                    AS i
        ON LOWER(n.title) = LOWER(i.primaryTitle) AND SUBSTR(n.releaseDate,-4,4) = i.startYear
        LIMIT 20;
        """
out = cur.execute(query)

# Get column names to display with the output
names = list(map(lambda x: x[0], cur.description))
print(names)

# Print output of the query
for row in out: 
    print(row)

Check how many films were not found in IMDB and see if there's any pattern to those.

In [ ]:
# first create the above query as CTE, since we'll be referencing a lot
query = """
        SELECT COUNT(*)
        FROM netflix AS n
        LEFT JOIN (SELECT *
                    FROM imdb_basics AS b
                    INNER JOIN imdb_ratings AS r
                    ON b.tconst = r.tconst
                    WHERE b.startYear > 2014 AND b.titleType = 'movie') 
                    AS i
        ON LOWER(n.title) = LOWER(i.primaryTitle) AND SUBSTR(n.releaseDate,-4,4) = i.startYear
        WHERE i.titleType IS NULL;
        """
out = cur.execute(query)
# Print output of the query
for row in out: 
    print(row)

306 out of 1413 netflix films seem like a lot. Let's look at the titles to see what might be going on.

In [ ]:
# get film names of netflix films that didn't have a title+name match in imdb
query = """
        SELECT n.title, n.releaseDate
        FROM netflix AS n
        LEFT JOIN (SELECT *
                    FROM imdb_basics AS b
                    INNER JOIN imdb_ratings AS r
                    ON b.tconst = r.tconst
                    WHERE b.startYear > 2014 AND b.titleType = 'movie') 
                    AS i
        ON LOWER(n.title) = LOWER(i.primaryTitle) AND SUBSTR(n.releaseDate,-4,4) = i.startYear
        WHERE i.titleType IS NULL;
        """
out = cur.execute(query)
# Print output of the query
for row in out: 
    print(row)

I notice a lot of these titles contain special characters (e.g. colon, period, ampersand, and, etc.). Some of these titles are from a series (e.g. 'Fear Street Part 1: 1994'), which might have a titleType other than 'movie' or have a different name. Let's try to find these films in the IMDB dataset with a more lenient match.

In [ ]:
query = """
        SELECT *
        FROM (SELECT *
                FROM imdb_basics AS b
                INNER JOIN imdb_ratings AS r
                ON b.tconst = r.tconst) 
                AS i
        WHERE i.primaryTitle LIKE 'Rodney King';
        """
out = cur.execute(query)
# Print output of the query
for row in out: 
    print(row)

In [ ]:
# get film names of netflix films that didn't have a title+name match in imdb
query = """
        SELECT n.title
        FROM netflix AS n
        LEFT JOIN (SELECT *
                    FROM imdb_basics AS b
                    INNER JOIN imdb_ratings AS r
                    ON b.tconst = r.tconst
                    WHERE b.startYear > 2014 AND b.titleType != 'tvEpisode') 
                    AS i
        ON LOWER(n.title) = LOWER(i.primaryTitle) AND SUBSTR(n.releaseDate,-4,4) = i.startYear
        WHERE i.titleType IS NULL;
        """
out = cur.execute(query)
# Print output of the query
for row in out: 
    print(row)

In [ ]:
# Close connection to SQLite database 
conn.close()