### Download and add Rotten Tomatoes dataset to the database

In [1]:
# Install dependencies as needed:
# !pip install --upgrade kagglehub
import kagglehub

# Download latest version
path = kagglehub.dataset_download("andrezaza/clapper-massive-rotten-tomatoes-movies-and-reviews/versions/4/rotten_tomatoes_movies.csv",
                                  path="rotten_tomatoes_movies.csv",force_download=True)

print("Path to dataset files:", path)

Downloading from https://www.kaggle.com/api/v1/datasets/download/andrezaza/clapper-massive-rotten-tomatoes-movies-and-reviews?dataset_version_number=4...

100%|███████████████████████████████████████████████████████████████████████████████| 152M/152M [00:56<00:00, 2.81MB/s]

Extracting files...

Path to dataset files: C:\Users\suny5\.cache\kagglehub\datasets\andrezaza\clapper-massive-rotten-tomatoes-movies-and-reviews\versions\4

In [2]:
# check if the files are successfully downloaded in the said path
# on Mac
!ls -alh $path
# on Windows
!dir $path

'ls' is not recognized as an internal or external command,
operable program or batch file.

 Volume in drive C is Windows
 Volume Serial Number is 7047-86E7

 Directory of C:\Users\suny5\.cache\kagglehub\datasets\andrezaza\clapper-massive-rotten-tomatoes-movies-and-reviews\versions\4

03/06/2025  10:44 AM    <DIR>          .
03/06/2025  10:44 AM    <DIR>          ..
03/06/2025  10:44 AM        17,396,636 rotten_tomatoes_movies.csv
03/06/2025  10:44 AM       410,691,413 rotten_tomatoes_movie_reviews.csv
               2 File(s)    428,088,049 bytes
               2 Dir(s)  421,244,465,152 bytes free

## Using the _movies.csv file that contains basic information and ratings for each movie.

### rotten_tomatoes_movies.csv - Each record represents a movie available on Rotten Tomatoes and includes all fields available on the website
*Note that 'rating' field here refers to the age-based rating (e.g. G) and not the rating by viewers.

- id - Unique identifier for each movie
- title - The title of the movie
- audienceScore - The average score given by regular viewers (0-100)
- tomatoMeter - The percentage of positive reviews from professional critics (0-100)
- rating - The movie's age-based classification (e.g., G, PG, PG-13, R)
- ratingContents - Content leading to the rating classification
- releaseDateTheaters - The date the movie was released in theaters
- releaseDateStreaming - The date the movie became available for streaming
- runtimeMinutes - The duration of the movie in minutes
- genre - The movie's genre(s)
- originalLanguage - The original language of the movie
- director - The movie's director
- writer - The writer(s) responsible for the movie's screenplay
- boxOffice - The movie's total box office revenue
- distributer - The company responsible for distributing the movie
- soundMix - The audio format(s) used in the movie

Load the two tsv files to dataframes and then write to a sqlite table.

In [3]:
import pandas as pd
import os
import sqlite3 
import numpy as np

In [4]:
# Load CSV file into a DataFrame
df_rt = pd.read_csv(path)
df_rt = df_rt.convert_dtypes()
df_rt.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 143258 entries, 0 to 143257
Data columns (total 16 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   id                    143258 non-null  string
 1   title                 142891 non-null  string
 2   audienceScore         73248 non-null   Int64
 3   tomatoMeter           33877 non-null   Int64
 4   rating                13991 non-null   string
 5   ratingContents        13991 non-null   string
 6   releaseDateTheaters   30773 non-null   string
 7   releaseDateStreaming  79420 non-null   string
 8   runtimeMinutes        129431 non-null  Int64
 9   genre                 132175 non-null  string
 10  originalLanguage      129400 non-null  string
 11  director              139041 non-null  string
 12  writer                90116 non-null   string
 13  boxOffice             14743 non-null   string
 14  distributor           23001 non-null   string
 15  soundMix              15917 non-null   string
dtypes: Int64(3), string(13)
memory usage: 17.9 MB

In [5]:
df_rt.head()

,id,title,audienceScore,tomatoMeter,rating,ratingContents,releaseDateTheaters,releaseDateStreaming,runtimeMinutes,genre,originalLanguage,director,writer,boxOffice,distributor,soundMix
0,space-zombie-bingo,Space Zombie Bingo!,50,<NA>,<NA>,<NA>,<NA>,2018-08-25,75,"Comedy, Horror, Sci-fi",English,George Ormrod,"George Ormrod,John Sabotta",<NA>,<NA>,<NA>
1,the_green_grass,The Green Grass,<NA>,<NA>,<NA>,<NA>,<NA>,2020-02-11,114,Drama,English,Tiffany Edwards,Tiffany Edwards,<NA>,<NA>,<NA>
2,love_lies,"Love, Lies",43,<NA>,<NA>,<NA>,<NA>,<NA>,120,Drama,Korean,"Park Heung-Sik,Heung-Sik Park","Ha Young-Joon,Jeon Yun-su,Song Hye-jin",<NA>,<NA>,<NA>
3,the_sore_losers_1997,Sore Losers,60,<NA>,<NA>,<NA>,<NA>,2020-10-23,90,"Action, Mystery & thriller",English,John Michael McCarthy,John Michael McCarthy,<NA>,<NA>,<NA>
4,dinosaur_island_2002,Dinosaur Island,70,<NA>,<NA>,<NA>,<NA>,2017-03-27,80,"Fantasy, Adventure, Animation",English,Will Meugniot,John Loy,<NA>,<NA>,<NA>

Cleaning the data and adding some more informative columns that can be used to match entries between datasets.
1. add releaseYear column from releaseDateTheaters and releaseDateStreaming, use the earlier one if both exists and do not match.
2. remove entries that don't have both audienceScore and tomatoMeter

In [6]:
# 1. Convert release date to release year and add as a new column
# loading datetime package to make extracting year easy
import datetime

In [7]:
# First converting releaseDateStreaming to release year
# Set values that don't follow the 'YYYY-MM-DD' format to nan
tmp = np.where(df_rt['releaseDateStreaming'].fillna('nan').str.len() == 10, df_rt['releaseDateStreaming'],np.nan)
# Convert values to datetime data type
tmp = pd.to_datetime(tmp,format='ISO8601')
# Extract year from datetime object
tmp = tmp.year
# Convert year values to integers - swap NA with 10000 - and add as a new column
df_rt['releaseYearStreaming'] = tmp.fillna(10000).astype(int)
# Compare the original column and the new column
df_rt[['releaseDateStreaming','releaseYearStreaming']].head()

  releaseDateStreaming  releaseYearStreaming
0           2018-08-25                  2018
1           2020-02-11                  2020
2                 <NA>                 10000
3           2020-10-23                  2020
4           2017-03-27                  2017

In [8]:
# Now doing the same for releaseDateTheaters
# Set values that don't follow the 'YYYY-MM-DD' format to nan
tmp = np.where(df_rt['releaseDateTheaters'].fillna('nan').str.len() == 10, df_rt['releaseDateTheaters'],np.nan)
# Convert values to datetime data type
tmp = pd.to_datetime(tmp,format='ISO8601')
# Extract year from datetime object
tmp = tmp.year
# Convert year values to integers - swap NA with 10000 - and add as a new column
df_rt['releaseYearTheaters'] = tmp.fillna(10000).astype(int)
# Compare the original column and the new column
df_rt[['releaseDateTheaters','releaseYearTheaters']]

       releaseDateTheaters  releaseYearTheaters
0                     <NA>                10000
1                     <NA>                10000
2                     <NA>                10000
3                     <NA>                10000
4                     <NA>                10000
...                    ...                  ...
143253          2002-08-27                 2002
143254                <NA>                10000
143255                <NA>                10000
143256                <NA>                10000
143257                <NA>                10000

[143258 rows x 2 columns]

In [9]:
# Grab the lower value of the two - if both are NA, the value will be 10000
tmp_min = np.where(df_rt['releaseYearStreaming']>df_rt['releaseYearTheaters'],df_rt['releaseYearTheaters'],df_rt['releaseYearStreaming'])
df_rt['releaseYearEarlier'] = np.where(tmp_min==10000,np.nan,tmp_min)
# df_rt['releaseYearEarlier'] = df_rt['releaseYearEarlier'].astype('int64')
df_rt[['releaseYearStreaming','releaseYearTheaters','releaseYearEarlier']]

        releaseYearStreaming  releaseYearTheaters  releaseYearEarlier
0                       2018                10000              2018.0
1                       2020                10000              2020.0
2                      10000                10000                 NaN
3                       2020                10000              2020.0
4                       2017                10000              2017.0
...                      ...                  ...                 ...
143253                 10000                 2002              2002.0
143254                 10000                10000                 NaN
143255                 10000                10000                 NaN
143256                  2006                10000              2006.0
143257                 10000                10000                 NaN

[143258 rows x 3 columns]

In [10]:
df_rt.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 143258 entries, 0 to 143257
Data columns (total 19 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   id                    143258 non-null  string
 1   title                 142891 non-null  string
 2   audienceScore         73248 non-null   Int64
 3   tomatoMeter           33877 non-null   Int64
 4   rating                13991 non-null   string
 5   ratingContents        13991 non-null   string
 6   releaseDateTheaters   30773 non-null   string
 7   releaseDateStreaming  79420 non-null   string
 8   runtimeMinutes        129431 non-null  Int64
 9   genre                 132175 non-null  string
 10  originalLanguage      129400 non-null  string
 11  director              139041 non-null  string
 12  writer                90116 non-null   string
 13  boxOffice             14743 non-null   string
 14  distributor           23001 non-null   string
 15  soundMix              15917 non-null   string
 16  releaseYearStreaming  143258 non-null  int32
 17  releaseYearTheaters   143258 non-null  int32
 18  releaseYearEarlier    84282 non-null   float64
dtypes: Int64(3), float64(1), int32(2), string(13)
memory usage: 20.1 MB

In [11]:
# 2. remove entries that don't have both audienceScore and tomatoMeter
df_rt=df_rt.dropna(axis='index',how='all',subset=['audienceScore','tomatoMeter'])
df_rt.head()

,id,title,audienceScore,tomatoMeter,rating,ratingContents,releaseDateTheaters,releaseDateStreaming,runtimeMinutes,genre,originalLanguage,director,writer,boxOffice,distributor,soundMix,releaseYearStreaming,releaseYearTheaters,releaseYearEarlier
0,space-zombie-bingo,Space Zombie Bingo!,50,<NA>,<NA>,<NA>,<NA>,2018-08-25,75,"Comedy, Horror, Sci-fi",English,George Ormrod,"George Ormrod,John Sabotta",<NA>,<NA>,<NA>,2018,10000,2018.0
2,love_lies,"Love, Lies",43,<NA>,<NA>,<NA>,<NA>,<NA>,120,Drama,Korean,"Park Heung-Sik,Heung-Sik Park","Ha Young-Joon,Jeon Yun-su,Song Hye-jin",<NA>,<NA>,<NA>,10000,10000,NaN
3,the_sore_losers_1997,Sore Losers,60,<NA>,<NA>,<NA>,<NA>,2020-10-23,90,"Action, Mystery & thriller",English,John Michael McCarthy,John Michael McCarthy,<NA>,<NA>,<NA>,2020,10000,2020.0
4,dinosaur_island_2002,Dinosaur Island,70,<NA>,<NA>,<NA>,<NA>,2017-03-27,80,"Fantasy, Adventure, Animation",English,Will Meugniot,John Loy,<NA>,<NA>,<NA>,2017,10000,2017.0
5,adrift_2018,Adrift,65,69,PG-13,"['Injury Images', 'Brief Drug Use', 'Thematic ...",2018-06-01,2018-08-21,120,"Adventure, Drama, Romance",English,Baltasar Kormákur,"Aaron Kandell,Jordan Kandell,David Branson Smith",$31.4M,STX Films,<NA>,2018,2018,2018.0

In [12]:
# Drop the temporary columns created
df_rt = df_rt.drop(columns = ['releaseYearStreaming','releaseYearTheaters'])

In [13]:
# Check dataframe for the last time before saving to the database
df_rt.head()

,id,title,audienceScore,tomatoMeter,rating,ratingContents,releaseDateTheaters,releaseDateStreaming,runtimeMinutes,genre,originalLanguage,director,writer,boxOffice,distributor,soundMix,releaseYearEarlier
0,space-zombie-bingo,Space Zombie Bingo!,50,<NA>,<NA>,<NA>,<NA>,2018-08-25,75,"Comedy, Horror, Sci-fi",English,George Ormrod,"George Ormrod,John Sabotta",<NA>,<NA>,<NA>,2018.0
2,love_lies,"Love, Lies",43,<NA>,<NA>,<NA>,<NA>,<NA>,120,Drama,Korean,"Park Heung-Sik,Heung-Sik Park","Ha Young-Joon,Jeon Yun-su,Song Hye-jin",<NA>,<NA>,<NA>,NaN
3,the_sore_losers_1997,Sore Losers,60,<NA>,<NA>,<NA>,<NA>,2020-10-23,90,"Action, Mystery & thriller",English,John Michael McCarthy,John Michael McCarthy,<NA>,<NA>,<NA>,2020.0
4,dinosaur_island_2002,Dinosaur Island,70,<NA>,<NA>,<NA>,<NA>,2017-03-27,80,"Fantasy, Adventure, Animation",English,Will Meugniot,John Loy,<NA>,<NA>,<NA>,2017.0
5,adrift_2018,Adrift,65,69,PG-13,"['Injury Images', 'Brief Drug Use', 'Thematic ...",2018-06-01,2018-08-21,120,"Adventure, Drama, Romance",English,Baltasar Kormákur,"Aaron Kandell,Jordan Kandell,David Branson Smith",$31.4M,STX Films,<NA>,2018.0

In [14]:
# Connect to SQLite database 
conn = sqlite3.connect('films.db') 

# Create a cursor object 
cur = conn.cursor() 

# Write the data to a sqlite table 
df_rt.to_sql('rotten_tomatoes', conn, if_exists='replace', index=False)

76802

In [15]:
# Check if the dataframe was saved correctly by loading and pulling up first 10 entries
query = """
        SELECT *
        FROM rotten_tomatoes
        LIMIT 10;
        """
out = cur.execute(query)
names = list(map(lambda x: x[0], cur.description))
print(names)

for row in cur.execute(query): 
    print(row)

['id', 'title', 'audienceScore', 'tomatoMeter', 'rating', 'ratingContents', 'releaseDateTheaters', 'releaseDateStreaming', 'runtimeMinutes', 'genre', 'originalLanguage', 'director', 'writer', 'boxOffice', 'distributor', 'soundMix', 'releaseYearEarlier']
('space-zombie-bingo', 'Space Zombie Bingo!', 50, None, None, None, None, '2018-08-25', 75, 'Comedy, Horror, Sci-fi', 'English', 'George Ormrod', 'George Ormrod,John Sabotta', None, None, None, 2018.0)
('love_lies', 'Love, Lies', 43, None, None, None, None, None, 120, 'Drama', 'Korean', 'Park Heung-Sik,Heung-Sik Park', 'Ha Young-Joon,Jeon Yun-su,Song Hye-jin', None, None, None, None)
('the_sore_losers_1997', 'Sore Losers', 60, None, None, None, None, '2020-10-23', 90, 'Action, Mystery & thriller', 'English', 'John Michael McCarthy', 'John Michael McCarthy', None, None, None, 2020.0)
('dinosaur_island_2002', 'Dinosaur Island', 70, None, None, None, None, '2017-03-27', 80, 'Fantasy, Adventure, Animation', 'English', 'Will Meugniot', 'John Loy', None, None, None, 2017.0)
('adrift_2018', 'Adrift', 65, 69, 'PG-13', "['Injury Images', 'Brief Drug Use', 'Thematic Elements', 'Language', 'Partial Nudity', 'Peril']", '2018-06-01', '2018-08-21', 120, 'Adventure, Drama, Romance', 'English', 'Baltasar Kormákur', 'Aaron Kandell,Jordan Kandell,David Branson Smith', '$31.4M', 'STX Films', None, 2018.0)
('malta-con-huevo-scrambled-beer', 'Scrambled Beer', 55, None, None, None, None, '2015-10-05', 88, 'Comedy', 'Spanish', 'Cristobal Valderrama', 'Cristobal Valderrama', None, None, None, 2015.0)
('kakabakaba-ka-ba', 'Kakabakaba ka ba? (Will Your Heart Beat Faster?)', 88, None, None, None, None, None, None, None, None, 'Mike de Leon', None, None, None, None, None)
('1035316-born_to_kill', 'Born to Kill', 74, 83, None, None, '1947-04-30', '2016-05-23', 92, 'Crime, Drama', 'English', 'Robert Wise', 'Eve Greene,Richard Macaulay', None, None, None, 1947.0)
('1015331-number_one_with_a_bullet', 'Number One With a Bullet', 19, None, None, None, None, '2012-03-13', 103, 'Crime, Drama', 'English', 'Jack Smight', None, None, None, None, 2012.0)
('margarita_happy_hour', 'Margarita Happy Hour', None, 76, None, None, '2002-03-22', None, 98, 'Drama', 'English', 'Ilya Chaiken', 'Ilya Chaiken', '$11.5K', 'Passport Pictures', 'Surround', 2002.0)

In [16]:
# Close connection to SQLite database 
conn.close()

### Download and add Letterboxd dataset to the database

In [27]:
# Download latest version
path = kagglehub.dataset_download("gsimonx37/letterboxd", path = "movies.csv")

print("Path to dataset files:", path)

Path to dataset files: C:\Users\suny5\.cache\kagglehub\datasets\gsimonx37\letterboxd\versions\2\movies.csv

In [29]:
unzip(path)

NameError: name 'unzip' is not defined

### movies.csv
- id - movie identifier (primary key)
- name - the name of the film
- date - year of release of the film
- tagline - the slogan of the film
- description - description of the film
- minute - movie duration (in minutes)
- rating - rating (0-5 scale)

In [22]:
print(path)
!dir $path

C:\Users\suny5\.cache\kagglehub\datasets\gsimonx37\letterboxd\versions\2\movies.csv
 Volume in drive C is Windows
 Volume Serial Number is 7047-86E7

 Directory of C:\Users\suny5\.cache\kagglehub\datasets\gsimonx37\letterboxd\versions\2

03/06/2025  10:45 AM       111,336,064 movies.csv
               1 File(s)    111,336,064 bytes
               0 Dir(s)  421,073,682,432 bytes free

In [20]:
# Load CSV file into a DataFrame
df_lb = pd.read_csv(path)
df_lb = df_lb.convert_dtypes()
df_lb.info()

UnicodeDecodeError: 'utf-8' codec can't decode byte 0xdb in position 12: invalid continuation byte

In [ ]:
df_lb.head()

Not much to adjust except resetting the id to string and dropping rows with NA rating.

In [ ]:
df_lb['id']=df_lb['id'].astype(str)
df_lb.info()

In [ ]:
df_lb=df_lb.dropna(axis='index',subset='rating')
df_lb.info()

In [ ]:
# Drop the temporary columns created
df_lb = df_lb.drop(columns = ['tagline','description'])

In [ ]:
# Connect to SQLite database 
conn = sqlite3.connect('films.db') 

# Create a cursor object 
cur = conn.cursor() 

# Write the data to a sqlite table 
df_lb.to_sql('letterboxd', conn, if_exists='replace', index=False)

In [ ]:
# Check if the dataframe was saved correctly by loading and pulling up first 10 entries
query = """
        SELECT *
        FROM letterboxd
        LIMIT 10;
        """
out = cur.execute(query)
names = list(map(lambda x: x[0], cur.description))
print(names)

for row in cur.execute(query): 
    print(row)

In [ ]:
# Close connection to SQLite database 
conn.close()