### Before combining all data, I want to check how many matches to the Netflix data we can get with the Rotten Tomatoes and Letterboxd data, separately.

Below are the fields of the tables saved in the database.

### netflix – Contains the Netflix original film list (webscraped from Wikipedia):
- title (string) - official Netflix title
- releaseDate (string) - release date in '{month} {day}, {year}' format (e.g. 'October 16, 2015') 
- genre - main genre
- runtime - runtime of the flim in '{hour} h {minute} min' format (e.g. '1 h 40 min')
- language - main langauge of the film
- filmType - type of the film (e.g. feature film, documentary, special, etc)
- runtime_min - runtime converted to minutes

### rotten_tomatoes
- id (string) - Unique identifier for each movie
- title - The title of the movie
- audienceScore - The average score given by regular viewers (0-100)
- tomatoMeter - The percentage of positive reviews from professional critics (0-100)
- rating - The movie's age-based classification (e.g., G, PG, PG-13, R)
- ratingContents - Content leading to the rating classification
- releaseDateTheaters - The date the movie was released in theaters
- releaseDateStreaming - The date the movie became available for streaming
- runtimeMinutes - The duration of the movie in minutes
- genre - The movie's genre(s)
- originalLanguage - The original language of the movie
- director - The movie's director
- writer - The writer(s) responsible for the movie's screenplay
- boxOffice - The movie's total box office revenue
- distributer - The company responsible for distributing the movie
- soundMix - The audio format(s) used in the movie
- releaseYearEarlier - The year the movie was released, either in theaters or on a streaming service, whichever is earlier

### letterboxd
- id - unique identifier for each movie
- name - title of the movie
- date - release year of the movie
- minute - runtime in minutes
- rating - rating on letterboxd

In [10]:
import pandas as pd
import os
import sqlite3 

# Connect to SQLite database 
conn = sqlite3.connect('films.db') 

# Create a cursor object 
cur = conn.cursor()

In [17]:
# Check if basics dataframe was saved correctly by loading and pulling up first 10 entries
query = """
        SELECT *
        FROM rotten_tomatoes
        LIMIT 10;
        """
# print column names
out = cur.execute(query)
names = list(map(lambda x: x[0], cur.description))
print(names)
for row in out: 
    print(row)

['id', 'title', 'audienceScore', 'tomatoMeter', 'rating', 'ratingContents', 'releaseDateTheaters', 'releaseDateStreaming', 'runtimeMinutes', 'genre', 'originalLanguage', 'director', 'writer', 'boxOffice', 'distributor', 'soundMix', 'releaseYearEarlier']
('space-zombie-bingo', 'Space Zombie Bingo!', 50, None, None, None, None, '2018-08-25', 75, 'Comedy, Horror, Sci-fi', 'English', 'George Ormrod', 'George Ormrod,John Sabotta', None, None, None, 2018.0)
('love_lies', 'Love, Lies', 43, None, None, None, None, None, 120, 'Drama', 'Korean', 'Park Heung-Sik,Heung-Sik Park', 'Ha Young-Joon,Jeon Yun-su,Song Hye-jin', None, None, None, None)
('the_sore_losers_1997', 'Sore Losers', 60, None, None, None, None, '2020-10-23', 90, 'Action, Mystery & thriller', 'English', 'John Michael McCarthy', 'John Michael McCarthy', None, None, None, 2020.0)
('dinosaur_island_2002', 'Dinosaur Island', 70, None, None, None, None, '2017-03-27', 80, 'Fantasy, Adventure, Animation', 'English', 'Will Meugniot', 'John Loy', None, None, None, 2017.0)
('adrift_2018', 'Adrift', 65, 69, 'PG-13', "['Injury Images', 'Brief Drug Use', 'Thematic Elements', 'Language', 'Partial Nudity', 'Peril']", '2018-06-01', '2018-08-21', 120, 'Adventure, Drama, Romance', 'English', 'Baltasar Kormákur', 'Aaron Kandell,Jordan Kandell,David Branson Smith', '$31.4M', 'STX Films', None, 2018.0)
('malta-con-huevo-scrambled-beer', 'Scrambled Beer', 55, None, None, None, None, '2015-10-05', 88, 'Comedy', 'Spanish', 'Cristobal Valderrama', 'Cristobal Valderrama', None, None, None, 2015.0)
('kakabakaba-ka-ba', 'Kakabakaba ka ba? (Will Your Heart Beat Faster?)', 88, None, None, None, None, None, None, None, None, 'Mike de Leon', None, None, None, None, None)
('1035316-born_to_kill', 'Born to Kill', 74, 83, None, None, '1947-04-30', '2016-05-23', 92, 'Crime, Drama', 'English', 'Robert Wise', 'Eve Greene,Richard Macaulay', None, None, None, 1947.0)
('1015331-number_one_with_a_bullet', 'Number One With a Bullet', 19, None, None, None, None, '2012-03-13', 103, 'Crime, Drama', 'English', 'Jack Smight', None, None, None, None, 2012.0)
('margarita_happy_hour', 'Margarita Happy Hour', None, 76, None, None, '2002-03-22', None, 98, 'Drama', 'English', 'Ilya Chaiken', 'Ilya Chaiken', '$11.5K', 'Passport Pictures', 'Surround', 2002.0)

Let's try joining netflix and rotten_tomatoes table on the title. Adding runtime constraint proactively.

In [22]:
query = """
        SELECT *
        FROM netflix AS n
        INNER JOIN rotten_tomatoes AS r
        ON LOWER(n.title) = LOWER(r.title)
        WHERE ( r.runtimeMinutes < n.runtime_min +3 AND r.runtimeMinutes > n.runtime_min -3 )
        LIMIT 10;
        """

# print column names
out = cur.execute(query)
names = list(map(lambda x: x[0], cur.description))
print(names)

for row in out: 
    print(row)

['title', 'releaseDate', 'genre', 'runtime', 'language', 'filmType', 'runtime_min', 'releaseYear', 'id', 'title', 'audienceScore', 'tomatoMeter', 'rating', 'ratingContents', 'releaseDateTheaters', 'releaseDateStreaming', 'runtimeMinutes', 'genre', 'originalLanguage', 'director', 'writer', 'boxOffice', 'distributor', 'soundMix', 'releaseYearEarlier']
('Beasts of No Nation', 'October 16, 2015', 'War drama', '2 h 17 min', 'English', 'Feature films', 137, 2015, 'beasts_of_no_nation', 'Beasts of No Nation', 92, 91, None, None, '2015-10-16', '2017-02-06', 136, 'War, Drama', 'English', 'Cary Joji Fukunaga', 'Cary Joji Fukunaga', '$83.9K', 'Bleecker Street Media, Netflix', None, 2015.0)
('The Ridiculous 6', 'December 11, 2015', 'Western comedy', '2 h', 'English', 'Feature films', 120, 2015, 'the_ridiculous_6', 'The Ridiculous 6', 35, 0, None, None, None, '2017-04-03', 119, 'Comedy, Western', 'English', 'Frank Coraci', 'Tim Herlihy,Adam Sandler', None, None, None, 2017.0)
("Pee-wee's Big Holiday", 'March 18, 2016', 'Adventure comedy', '1 h 30 min', 'English', 'Feature films', 90, 2016, 'pee_wees_big_holiday', "Pee-wee's Big Holiday", 61, 80, None, None, None, '2017-05-23', 89, 'Comedy, Adventure', 'English', 'John Lee', 'Paul Reubens,Paul Rust', None, None, None, 2017.0)
('Brahman Naman', 'July 7, 2016', 'Sex comedy', '1 h 35 min', 'English', 'Feature films', 95, 2016, 'brahman_naman', 'Brahman Naman', 45, 67, None, None, None, '2017-04-04', 95, 'Comedy', 'English', 'Qaushiq Mukherjee', 'Naman Ramachandran', None, None, None, 2017.0)
('Rebirth', 'July 15, 2016', 'Thriller', '1 h 40 min', 'English', 'Feature films', 100, 2016, 'rebirth_2016', 'Rebirth', 27, 43, None, None, None, '2017-05-22', 100, 'Mystery & thriller', 'English', 'Karl Mueller', 'Karl Mueller', None, None, None, 2017.0)
('Tallulah', 'July 29, 2016', 'Comedy drama', '1 h 51 min', 'English', 'Feature films', 111, 2016, 'tallulah', 'Tallulah', 69, 85, None, None, '2016-07-29', '2017-05-23', 111, 'Drama', 'English', 'Sian Heder', 'Sian Heder', None, 'Netflix', None, 2016.0)
('XOXO', 'August 26, 2016', 'Drama', '1 h 32 min', 'English', 'Feature films', 92, 2016, 'xoxo_2016', 'XOXO', 52, 71, None, None, None, '2017-05-23', 92, 'Comedy', 'English', 'Christopher Louie', 'Dylan Meyer', None, None, None, 2017.0)
('ARQ', 'September 16, 2016', 'Science fiction / Thriller', '1 h 28 min', 'English', 'Feature films', 88, 2016, 'arq', 'ARQ', 46, 43, None, None, None, '2017-04-04', 88, 'Sci-fi', 'English', 'Tony Elliott', 'Tony Elliott', None, None, None, 2017.0)
('The Siege of Jadotville', 'October 7, 2016', 'War', '1 h 48 min', 'English', 'Feature films', 108, 2016, 'the_siege_of_jadotville', 'The Siege of Jadotville', 74, 64, None, None, '2016-10-07', '2017-05-23', 108, 'Drama, Mystery & thriller', 'English', 'Richie Smyth', 'Kevin Brodbin', None, 'Netflix', None, 2016.0)
('Mascots', 'October 13, 2016', 'Mockumentary', '1 h 35 min', 'English', 'Feature films', 95, 2016, 'mascots', 'Mascots', 36, 48, None, None, None, '2017-05-23', 95, 'Comedy', 'English', 'Christopher Guest', 'Christopher Guest,Jim Piddock', None, None, None, 2017.0)

The first 10 entries look good. Let's check the entire query result for duplicates - multiple entries of rotten_tomatoes table joined to the same entry in the netflix table.

In [24]:
# print the number of rows in the results and the unique number of titles to see how many of the query results contain duplicate titles
query = """
        SELECT COUNT(*), COUNT(DISTINCT n.title)
        FROM netflix AS n
        INNER JOIN rotten_tomatoes AS r
        ON LOWER(n.title) = LOWER(r.title)
        WHERE ( r.runtimeMinutes < n.runtime_min +3 AND r.runtimeMinutes > n.runtime_min -3 );
        """

# print column names
out = cur.execute(query)
names = list(map(lambda x: x[0], cur.description))
print(names)

for row in out: 
    print(row)

['COUNT(*)', 'COUNT(DISTINCT n.title)']
(733, 702)

In [25]:
# print the number of rows in the results and the unique number of titles to see how many of the query results contain duplicate titles
query = """
        SELECT COUNT(*), COUNT(DISTINCT n.title)
        FROM netflix AS n
        INNER JOIN rotten_tomatoes AS r
        ON LOWER(n.title) = LOWER(r.title)
        WHERE ( r.runtimeMinutes < n.runtime_min +3 AND r.runtimeMinutes > n.runtime_min -3 )
        AND r.releaseYearEarlier <= n.releaseYear + 1 AND r.releaseYearEarlier >= n.releaseYear - 1;
        """

# print column names
out = cur.execute(query)
names = list(map(lambda x: x[0], cur.description))
print(names)

for row in out: 
    print(row)

['COUNT(*)', 'COUNT(DISTINCT n.title)']
(689, 679)

In [21]:
# Check if basics dataframe was saved correctly by loading and pulling up first 10 entries
query = """
        SELECT *
        FROM rotten_tomatoes
        WHERE title = 'Rebirth';
        """
# print column names
out = cur.execute(query)
names = list(map(lambda x: x[0], cur.description))
print(names)
for row in out: 
    print(row)

['id', 'title', 'audienceScore', 'tomatoMeter', 'rating', 'ratingContents', 'releaseDateTheaters', 'releaseDateStreaming', 'runtimeMinutes', 'genre', 'originalLanguage', 'director', 'writer', 'boxOffice', 'distributor', 'soundMix', 'releaseYearEarlier']
('project_rebirth_2010', 'Rebirth', 79, 92, None, None, '2011-08-26', '2011-09-06', 104, 'Documentary', 'English', 'James Whitaker', None, '$12.3K', 'Oscilloscope Pictures', None, 2011.0)
('yokame_no_semi', 'Rebirth', 69, None, None, None, None, None, 147, 'Drama', 'Japanese', 'Izuru Narushima', 'Satoko Okudera', None, None, 'Dolby Digital', None)
('yokame_no_semi', 'Rebirth', 69, None, None, None, None, None, 147, 'Drama', 'Japanese', 'Izuru Narushima', 'Satoko Okudera', None, None, 'Dolby Digital', None)
('rebirth_2016', 'Rebirth', 27, 43, None, None, None, '2017-05-22', 100, 'Mystery & thriller', 'English', 'Karl Mueller', 'Karl Mueller', None, None, None, 2017.0)